<div
  class="notification"
  [ngClass]="['notification__border-' + notification?.type, show ? 'notification__show' : '']"
  (click)="hideNotification(true, true)">
  <span class="notification__time">{{ notification?.time | date: 'HH:mm' }}</span>
  <span class="notification__heading">{{ notification?.heading }}</span>
  <span class="notification__text">{{ notification?.text }}</span>
  <span class="notification__close" i18n="@@tap-close" *ngIf="!notification?.choices">tap this card to close it</span>
  <div class="notification-prompt__choices">
    <div
      class="notification-prompt__choice"
      *ngFor="let choice of notification?.choices; index as i; first as isFirst"
      [ngClass]="[isFirst ? 'notification-prompt__choice-first' : '']"
      (click)="chooseAction(i, notification?.callback)">
      {{ choice }}
    </div>
  </div>
</div>
