.notification {
  display: block;
  position: fixed;
  width: 80vw;
  background-color: #5a6675;
  border-radius: 1.3vw;
  left: 10vw;
  top: -75vh;
  transition: top 0.7s ease-in-out;
  box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.75);
  z-index: 100;
  border-right: 1vw solid #5a6675;

  &-prompt {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: -100vh;
    transition: top 0.7s ease-in-out;
    background-color: #5a6675;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    &__show {
      top: 0vh;
    }

    &__choices {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0vw 5vw;
    }

    &__choice {
      display: block;
      font-size: 3vw;
      background-color: #2196f3;
      text-align: center;
      padding: 3vh;
      border-radius: 0.8vw;
      margin: 1vw;

      &-first {
        background-color: #44bd32;
      }
    }
  }

  &__show {
    top: 5vh;
  }

  &__heading {
    display: block;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 500;
    margin-top: 4vh;
  }

  &__text {
    font-size: 2.7vw;
    padding: 5vh 3vw 1vh;
    display: block;
    text-align: center;
  }

  &__close {
    font-size: 2vw;
    display: block;
    text-align: center;
    padding-bottom: 2vh;
    opacity: 0.4;
  }

  &__border {
    &-error {
      border-left: 1vw solid #c23616;
    }

    &-warn {
      border-left: 1vw solid #fbc531;
    }

    &-info {
      border-left: 1vw solid #44bd32;
    }
  }
}
