.control {
    margin-top: 5vh;
    display: block;

    &__heading {
        display: block;
        margin-top: 4vh;
        font-size: 3vw;
        opacity: .5;
        font-weight: 400;
    }

    &__XY {
        display: block;
        width: 45vw;
        height: 60vh;
        text-align: center;
        float: left;

        &-wrapper {
            position: relative;
            width: 35vw;
            height: 50vh;
            margin-left: 5vw;
            font-size: 20vh;
        }
    }

    &__Z {
        display: block;
        width: 19vw;
        height: 60vh;
        text-align: center;
        float: left;

        &-wrapper {
            position: relative;
            width: 15vw;
            height: 50vh;
            margin-left: 5vw;
            font-size: 20vh;
        }
    }

    &__icon {
        font-size: 15vw;
        position: absolute;
        padding: 0 1.7vw;
        opacity: .9;

        &-1 {
            top: -9vh;
            left: 11.3vw;
        }

        &-2 {
            top: 9.5vh;
            left: .5vw;
        }

        &-3 {
            top: 9.5vh;
            right: .3vh;
        }

        &-4 {
            top: 29vh;
            left: 11.3vw;
        }

        &-5 {
            top: -9vh;
            left: -1.8vw;
        }

        &-6 {
            top: 29vh;
            left: -1.8vw;
        }
    }


    &__distance {
        width: 50vw;
        margin-left: 12vw;
        margin-top: 4.5vh;
        display: inline-block;
        border-collapse: separate;

        &-field {
            font-size: 2.8vw;
            width: 10vw;
            text-align: center;
            border: .25vw solid #f5f6fa;
            border-right: .175vw solid #f5f6fa;
            border-left: .175vw solid #f5f6fa;
            padding: 1vh .7vw;
            opacity: .5;
            background-color: transparent;
            transition: all .3s ease-in-out;
            transition-property: opacity, background;

            &-active {
                opacity: .9;
                background-color: rgba(245, 246, 250, .2);

            }
        }

        &-field:first-child {
            border-top-left-radius: 1vw;
            border-bottom-left-radius: 1vw;
            border-left: .25vw solid #f5f6fa;
        }

        &-field:last-child {
            border-top-right-radius: 1vw;
            border-bottom-right-radius: 1vw;
            border-right: .25vw solid #f5f6fa;
        }
    }

    &__custom {
        height: 75vh;
        width: 30vw;
        display: block;
        float: right;

        &-action {
            display: block;
            float: left;
            width: 10vw;
            height: 10vw;
            border: .8vw solid #f5f6fa;
            border-radius: 1.5vw;
            text-align: center;
            opacity: .9;
            margin: 0 1.4vw 3vh 1.4vw;

            &-icon {
                font-size: 5.5vw;
                vertical-align: -3vw;

            }
        }
    }
}

.top-bar__next-icon {
    vertical-align: -3vh;
}
