<div class="control">

  <table class="top-bar">
    <tr>
      <td class="top-bar__back" routerLink="/main-screen">
        <span matRipple [matRippleUnbounded]="true" [matRippleCentered]="true">
          <img src="assets/back.svg" class="top-bar__back-icon" />
          back
        </span>
      </td>
      <td class="top-bar__center">
        <img src="assets/control.svg" class="top-bar__center-icon" />
      </td>
      <td class="top-bar__next" (click)="showHelp = true">
        <span matRipple [matRippleUnbounded]="false" [matRippleCentered]="true">
          <img src="assets/help.svg" class="top-bar__next-icon" />
        </span>
      </td>
    </tr>
  </table>

  <div class="control-middle">
    <div class="control-middle-wrapper">
      <div class="control-middle-jogs">

        <div class="control-middle-jog square-jog">
          <div class="control-middle-jog-square">
            <div class="control-middle-jog-square-content">
              <div class="jog-icon-wrapper-vertical">
                <fa-icon
                  [icon]="['fas', 'angle-up']"
                  class="jog-icon"
                  (click)="moveAxis('y', '-')"
                  matRipple
                  [matRippleUnbounded]="true"
                  [matRippleCentered]="true"
                ></fa-icon>
              </div>
              <div class="control-middle-jog-square-content-middle">
                <div class="jog-icon-wrapper-horizontal">
                  <fa-icon
                    [icon]="['fas', 'angle-left']"
                    class="jog-icon"
                    (click)="moveAxis('x', '-')"
                    matRipple
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                  ></fa-icon>
                </div>
                <div class="jog-icon-wrapper-horizontal">
                  <fa-icon
                    [icon]="['fas', 'angle-right']"
                    class="jog-icon"
                    (click)="moveAxis('x', '+')"
                    matRipple
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                  ></fa-icon>
                </div>
              </div>
              <div class="jog-icon-wrapper-vertical">
                <fa-icon
                  [icon]="['fas', 'angle-down']"
                  class="jog-icon"
                  (click)="moveAxis('y', '+')"
                  matRipple
                  [matRippleUnbounded]="true"
                  [matRippleCentered]="true"
                ></fa-icon>
              </div>
            </div>
          </div>
          <span class="control-middle-jog__heading">X / Y</span>
        </div>

        <div class="control-middle-jog vertical-jog">
          <div class="control-middle-jog-vertical">
            <div class="jog-icon-wrapper-vertical">
              <fa-icon
                [icon]="['fas', 'angle-up']"
                class="jog-icon"
                (click)="moveAxis('z', '+')"
                matRipple
                [matRippleUnbounded]="true"
                [matRippleCentered]="true"
              ></fa-icon>
            </div>
            <div class="jog-icon-wrapper-vertical">
              <fa-icon
                [icon]="['fas', 'angle-down']"
                class="jog-icon"
                (click)="moveAxis('z', '-')"
                matRipple
                [matRippleUnbounded]="true"
                [matRippleCentered]="true"
              ></fa-icon>
            </div>
          </div>
          <span class="control-middle-jog__heading">Z</span>
        </div>

        <div class="control-middle-jog vertical-jog" *ngIf="showExtruder">
          <div class="control-middle-jog-vertical">
            <div class="jog-icon-wrapper-vertical">
              <fa-icon
                [icon]="['fas', 'angle-up']"
                class="jog-icon"
                (click)="extrude('-')"
                matRipple
                [matRippleUnbounded]="true"
                [matRippleCentered]="true"
              ></fa-icon>
            </div>
            <div class="jog-icon-wrapper-vertical">
              <fa-icon
                [icon]="['fas', 'angle-down']"
                class="jog-icon"
                (click)="extrude('+')"
                matRipple
                [matRippleUnbounded]="true"
                [matRippleCentered]="true"
              ></fa-icon>
            </div>
          </div>
          <span class="control-middle-jog__heading">E</span>
        </div>

      </div>
    </div>

    <div class="control-middle-actions">
      <app-custom-actions
        [redirectActive]="true"
        [actionWidth]="'11.5vw'"
      ></app-custom-actions>
    </div>

  </div>

  <div class="control-bottom">

    <div class="control-bottom__distance-wrapper">
      <table class="control-bottom__distance">
        <tr>
          <td
            *ngFor="let distance of [1, 5, 10, 50, 100]"
            class="control-bottom__distance-field"
            [ngClass]="{ 'control-bottom__distance-field-active': jogDistance === distance }"
            (click)="setDistance(distance)"
          >
            {{ distance }}
          </td>
        </tr>
      </table>
    </div>

    <div
      class=control-bottom-z-offset
      matRipple
      [matRippleUnbounded]="false"
      (click)="showQuickControl()"
    >
      <span>
        Z
      </span>
      {{ zOffset == 0 ? '±' : zOffset > 0 ? '+' : '' }}{{ getZOffset() }} mm
    </div>

  </div>
</div>

<div class="help" *ngIf="showHelp">
  <div class="help__card">
    <img src="assets/error.svg" class="help__close" (click)="showHelp = false" />
    <span class="help__heading">Control Screen</span>
    <span class="help__text">
      You can adjust the printhead speed in the settings (default 150mm/s for XY - 5mm/s for Z).
      <br />
      You can customize the 6 icons on the right. They can either send GCode Commands to the printer or call a few
      predefined actions (like rebooting the Pi). Please visit the GitHub Wiki to get further information.
      <br />
      Wiki page is called "CustomActions".
    </span>
  </div>
</div>

<app-quick-control
  *ngIf="zOffsetControl === true"
  id="quickControl"
  [settings]="quickControlSettings()"
  [hide]="hideQuickControl.bind(this)"
></app-quick-control>
