.filament {
    padding: 2vh 2vw 0 2vw;

    &-heading {
        display: block;
        text-align: center;
        font-size: 1rem;
    }

    &-filaments {
        margin-top: 2vh;
        width: 94vw;
        display: block;
        height: 67vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding-right: 1.5vw;

        &::before {
            content: '';
            width: 92vw;
            height: 69.2vh;
            position: fixed;
            left: 1vw;
            top: 31.5vh;
            z-index: 2;
            pointer-events: none;
            background: linear-gradient(#353b48, transparent 6%, transparent 94%, #353b48);
        }

        td {
            font-size: 3.2vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            line-height: 9vh;

            &:last-of-type {
                line-height: 7vh;
            }
        }

        tr {
            background-color: #718093;
            border-radius: 1vw;
            padding: 0vw 1vw;
            display: block;
            margin-bottom: 2vh;
            height: 10.5vh;

            &:first-of-type {
                margin-top: 3.5vh;
            }

            &:last-of-type {
                margin-bottom: 3.5vh;
            }
        }

        &__type {
            width: 12vw;

            &-box {
                font-size: 2vw;
                border: 3px solid;
                width: auto;
                padding: 1.3vh 1.5vw;
                border-radius: 0.15rem;
            }
        }

        &__name {
            width: 62vw;
        }

        &__weight-left {
            width: 14vw;
            text-align: right;
        }
    }

    &-no-filaments {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 20vh;
    }
}

.scroll__thumb-inactive {
    right: 2.5vw;
    top: 36vh;
    height: 57.2vh;
}
