<table class="top-bar" *ngIf="!showCheckmark">
  <tr>
    <td class="top-bar__back" (click)="decreasePage()" matRipple [matRippleUnbounded]="false">
      <img src="assets/back.svg" class="top-bar__back-icon" />
      back
    </td>
    <td class="top-bar__center">
      <img src="assets/filament.svg" class="top-bar__center-icon" *ngIf="page === 0" />
      <div class="filament__progress-bar-wrapper" *ngIf="page > 0">
        <div class="filament__progress-bar" id="progressBar"></div>
      </div>
    </td>
    <td class="top-bar__next" (click)="increasePage()" matRipple [matRippleUnbounded]="false">
      skip
      <img src="assets/next.svg" class="top-bar__next-icon" />
    </td>
  </tr>
</table>

<div class="filament">
  <app-filament-choose (spoolChange)="setSpool($event)" *ngIf="page === 0"></app-filament-choose>
  <app-filament-heat-nozzle
    (increasePage)="increasePage()"
    [currentSpool]="currentSpool"
    [selectedSpool]="selectedSpool"
    *ngIf="page === 1"
  ></app-filament-heat-nozzle>
  <app-filament-move-filament
    *ngIf="page === 2"
    (increasePage)="increasePage()"
    [currentSpool]="currentSpool"
    [action]="'unload'"
  ></app-filament-move-filament>
  <app-filament-change-filament
    *ngIf="page === 3"
    (increasePage)="increasePage()"
    [selectedSpool]="selectedSpool"
  ></app-filament-change-filament>
  <app-filament-move-filament
    *ngIf="page === 4"
    (increasePage)="increasePage()"
    [selectedSpool]="selectedSpool"
    [action]="'load'"
  ></app-filament-move-filament>
  <app-filament-purge-filament
    *ngIf="page === 5 && !showCheckmark"
    (purgeDone)="setSpoolSelection()"
  ></app-filament-purge-filament>
  <div *ngIf="showCheckmark">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
      <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
  </div>
</div>
