.filament {
    padding: 2vh 2vw 0 2vw;

    &__progress-bar {
        height: 4vh;
        border-radius: 2vh;
        background-color: #44bd32;
        width: 0;
        transition: width 0.7s ease-in-out;

        &-wrapper {
            background-color: #718093;
            height: 4vh;
            width: 20vw;
            display: inline-block;
            border-radius: 2vh;
        }
    }

    &-heading {
        display: block;
        text-align: center;
        font-size: 1rem;
    }

    &-filaments {
        margin-top: 2vh;
        width: 94vw;
        display: block;
        height: 67vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding-right: 1.5vw;

        &::before {
            content: '';
            width: 92vw;
            height: 69.2vh;
            position: fixed;
            left: 1vw;
            top: 31.5vh;
            z-index: 2;
            pointer-events: none;
            background: linear-gradient(#353b48, transparent 6%, transparent 94%, #353b48);
        }

        td {
            font-size: 3.2vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            line-height: 9vh;

            &:last-of-type {
                line-height: 7vh;
            }
        }

        tr {
            background-color: #718093;
            border-radius: 1vw;
            padding: 0vw 1vw;
            display: block;
            margin-bottom: 2vh;
            height: 10.5vh;

            &:first-of-type {
                margin-top: 3.5vh;
            }

            &:last-of-type {
                margin-bottom: 3.5vh;
            }
        }

        &__type {
            width: 15vw;
            text-align: center;
            margin-left: -2vw;

            &-box {
                font-size: 2vw;
                border: 3px solid;
                width: auto;
                padding: 1.3vh 1.5vw;
                border-radius: 0.15rem;
                font-weight: 500;
            }
        }

        &__name {
            width: 62vw;
        }

        &__weight-left {
            width: 14vw;
            text-align: right;
        }
    }

    &-no-filaments {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 20vh;
    }

    &-nozzle {
        &__controller {
            width: 35vw;
            margin: 0 auto;
            border: solid 0.4vw;
            border-radius: 2vw;
            margin-top: 6vh;

            &-row {
                display: flex;
            }

            &-value {
                padding: 3vh 6vw;
                font-size: 6vw;
                font-weight: 500;
                text-align: center;
                border-top: solid 0.4vw rgba(255, 255, 255, 0.5);
                border-bottom: solid 0.4vw rgba(255, 255, 255, 0.5);

                &-unit {
                    text-align: center;
                    font-size: 4vw;
                    font-weight: 400;
                }
            }

            &-control {
                padding: 2vh 6vw;
                font-size: 0.9rem;
                flex: 1;

                &:first-of-type {
                    border-right: solid 0.4vw rgba(255, 255, 255, 0.5);
                }
            }
        }

        &__start-heating {
            margin: 5vh auto;
            display: block;
            background-color: #44bd32;
            width: 2.5rem;
            padding: 1vh 2vw;
            border-radius: 1vw;
            font-size: 0.8rem;
            box-shadow: 0 10px 19px -8px rgba(0, 0, 0, 0.75);
        }
    }
}

.scroll__thumb-inactive {
    right: 2.5vw;
    top: 36vh;
    height: 57.2vh;
}
