.printer-status {
  width: 95vw;
  margin: auto 3vh;
  height: 27vh;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1fr 2fr;
  gap: 1vw 2vw;
  place-items: center start;
  align-content: center;

  &.printer-status__multi-hotend {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);

    .printer-status__row {
      grid-column: 1 / -1;
    }
  }

  .printer-status__row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 2vw;
    place-items: center start;
    align-content: center;

    &:last-child {
      grid-template-columns: repeat(2, 1fr);
    }

    .printer-status__item {
      width: 100%;

      .printer-status__icon {
        vertical-align: middle;
        display: inline-block;
        width: 6vw;
      }

      .printer-status__value {
        display: inline-block;
        width: calc(100% - 6vw);
        text-align: right;
        vertical-align: middle;

        &.printer-status__small-text span {
          font-size: 2.5vw;
        }

        .printer-status__unit {
          font-size: 60%;
        }

        .printer-status__actual-value {
          font-size: 5vw;
          font-weight: 500;
        }
      }
    }
  }
}

.quick-control {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 85%);
  transition: opacity 0.4s ease-in-out;
  z-index: 10;
  opacity: 0;

  &__controller {
    width: 35vw;
    margin: 0 auto;
    border: solid 0.6vw;
    border-radius: 3vw;
    margin-top: 1.5vh;

    &-row {
      display: flex;
    }

    &-value {
      padding: 3vh 6vw;
      font-size: 8vw;
      font-weight: 500;
      text-align: center;

      &-unit {
        text-align: center;
        font-size: 4vw;
        font-weight: 400;
      }
    }

    &-increase {
      padding: 3vh 6vw;
      font-weight: 500;
      flex: 1;
    }

    &-decrease {
      padding: 3vh 6vw;
      font-weight: 500;
      flex: 1;
    }

    &-set {
      height: 10vw;
      border-top: solid 0.6vw;
      flex: 1;
      align-items: center;
      display: flex;

      &-span {
        text-align: center;
        flex: 1;
      }
    }
  }
}
