<span class="welcome-screen__heading">Hey there!</span>
<span class="setup__text" *ngIf="!update">
  <span i18n="@@welcome-1">
    It looks like this is the first start of OctoDash.
  </span>
  <br />
  <span i18n="@@welcome-2">
    I'll help you set up your config and get you started.
  </span>
  <br />
  <span i18n="@@welcome-3">
    If you encounter any issues please check the troubleshooting guide in the GitHub Wiki.
  </span>
  <br />
  <br />
  <span i18n="@@welcome-4">
    Thanks for choosing OctoDash
  </span>
  <fa-icon [icon]="['fas', 'smile']"></fa-icon>
</span>
<span class="setup__text" *ngIf="update">
  <span i18n="@@welcome-5">
    Sorry for bothering you again ...
  </span>
  <br />
  <span i18n="@@welcome-6">
    We've released an update, so awesome, we needed to change the config. Please review your new config!
  </span>
  <br />
  <br />
  <span i18n="@@welcome-7">
    Thanks for choosing OctoDash
  </span>
  <fa-icon [icon]="['fas', 'smile']"></fa-icon>
</span>
