<span class="welcome-screen__heading">Bonjour !</span>
<span class="setup__text" *ngIf="!update">
  Il semble que ce soit le premier démarrage d'OctoDash.
  <br />
  Je vais vous aider à mettre en place votre configuration et à démarrer.
  <br />
  Si vous rencontrez des problèmes, veuillez consulter le guide de dépannage dans le Wiki du GitHub.
  <br />
  <br />
  Merci d'avoir choisi OctoDash
  <fa-icon [icon]="['fas', 'smile']"></fa-icon>
</span>
<span class="setup__text" *ngIf="update">
  Désolé de vous déranger à nouveau ...
  <br />
  Nous avons publié une mise à jour, tellement extraordinaire que nous avons dû modifier notre configuration. Veuillez examiner votre nouvelle configuration !
  <br />
  <br />
  Merci d'avoir choisi OctoDash
  <fa-icon [icon]="['fas', 'smile']"></fa-icon>
</span>
