version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '10:00'
    open-pull-requests-limit: 15
    labels:
      - dependencies
    groups:
      angular:
        applies-to: version-updates
        update-types:
          - minor
          - spatch
        patterns:
          - '@angular*'
