.standby {
  display: flex;
  height: 100%;
  z-index: 950;
  &__main-window {
    order: 1;
    transition: flex-basis 0.6s ease-out;
    margin-left: 13vw;
    margin-right: 8vw;
  }

  &__actions-toggle {
    order: 2;
    flex-basis: 6%;
    box-shadow: 10px 0 12px -6px rgba(0, 0, 0, 0.75);

    &-icon {
      display: block;
      font-size: 6vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: transform 0.4s ease-out;

      &__rotate {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__actions {
    order: 3;
    transition: flex-basis 0.6s ease-out;

    &-text {
      width: 30vw;
      position: relative;
      top: 6vh;
      float: right;
      text-align: center;
      font-size: 0.9rem;
    }
  }

  &__icon {
    height: 45vh;
    display: block;
    margin: 11vh auto;
  }

  &__text {
    &-big {
      display: block;
      text-align: center;
      margin-bottom: 5vh;
      font-size: 4vw;
      animation: fadeIn ease 0.6s;
    }

    &-small {
      display: block;
      text-align: center;
      margin-bottom: 5vh;
      font-size: 2vw;
      animation: fadeIn ease 0.6s;
    }
  }

  &__error {
    position: fixed;
    top: 20vh;
    left: 20vw;
    right: 20vw;
    text-align: center;
    background-color: black;
    opacity: 0.92;
    border-radius: 2vw;
    padding: 5vh 3vw;
    font-size: 3vw;
    z-index: 100;

    &-close {
      font-size: 2vw;
      opacity: 0.8;
      display: block;
      margin-top: 4vh;
    }
  }
  .txt-time {
    text-align: center;
    font-family: "Fira Sans";
    color: white;
    font-size: 64px;
    letter-spacing: 5px;
}

.txt-greetings {
    text-align: center;
    font-family: "Fira Sans";
    letter-spacing: 3px;
    color: white;
    font-size: 18px;
}

.txt-suggestion {
    text-align: center;
    font-family: "Fira Sans";
    color: white;
    text-decoration: none;
}
}

app-custom-actions {
  float: right;
  height: 78vh;
  position: relative;
  top: 13vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

.area {
    background: black;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    z-index: 900;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background-color: #f06292;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    background-color: #1e88e5;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    background-color: #1e88e5;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    background-color: #1e88e5;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    background-color: #1e88e5;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    background-color: #cb132d;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    background-color: #1e88e5;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    background-color: #1e88e5;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    background-color: #cb132d;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    background-color: #cb132d;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.2;
        border-radius: 50%;
    }
}