.standby {
  display: flex;
  height: 100%;

  &__main-window {
    order: 1;
    transition: flex-basis 0.6s ease-out;
    margin-left: 13vw;
    margin-right: 8vw;
  }

  &__actions-toggle {
    order: 2;
    flex-basis: 6%;
    box-shadow: 10px 0px 12px -6px rgba(0, 0, 0, 0.75);

    &-icon {
      display: block;
      font-size: 6vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: transform 0.4s ease-out;

      &__rotate {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__actions {
    order: 3;
    transition: flex-basis 0.6s ease-out;

    &-text {
      width: 30vw;
      position: relative;
      top: 6vh;
      float: right;
      text-align: center;
      font-size: 0.9rem;
    }
  }

  &__icon {
    height: 45vh;
    display: block;
    margin: 11vh auto;
  }

  &__text {
    &-big {
      display: block;
      text-align: center;
      margin-bottom: 5vh;
      font-size: 4vw;
      animation: fadeIn ease 0.6s;
    }

    &-small {
      display: block;
      text-align: center;
      margin-bottom: 5vh;
      font-size: 2vw;
      animation: fadeIn ease 0.6s;
    }
  }

  &__error {
    position: fixed;
    top: 20vh;
    left: 20vw;
    right: 20vw;
    text-align: center;
    background-color: black;
    opacity: 0.92;
    border-radius: 2vw;
    padding: 5vh 3vw;
    font-size: 3vw;
    z-index: 100;

    &-close {
      font-size: 2vw;
      opacity: 0.8;
      display: block;
      margin-top: 4vh;
    }
  }
}

app-custom-actions {
  float: right;
  height: 78vh;
  position: relative;
  top: 13vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
