<div class="standby">
  <div (click)="reconnect()" class="standby__main-window" [ngStyle]="{ 'flex-basis': actionsVisible ? '54%' : '94%' }">
    <img src="assets/icon/icon-main.svg" class="standby__icon" />
    <ng-container *ngIf="!actionsVisible && !connecting">
      <span class="standby__text-big">Shhh! OctoDash is sleeping.</span>
      <span class="standby__text-small">Press on the screen to wake me up again.</span>
    </ng-container>
    <ng-container *ngIf="actionsVisible && !connecting">
      <span class="standby__text-big" *ngIf="actionsVisible"> sleeping ... </span>
    </ng-container>
    <ng-container *ngIf="connecting">
      <span class="standby__text-big loading-dots">connecting</span>
      <span class="standby__text-small" *ngIf="showConnectionError"
        >Connection can't be established. Press screen to try again.</span
      >
    </ng-container>
  </div>

  <div class="standby__actions-toggle">
    <fa-icon
      [icon]="['fas', 'caret-left']"
      class="standby__actions-toggle-icon"
      (click)="toggleCustomActions()"
      [ngClass]="{ 'standby__actions-toggle-icon__rotate': actionsVisible }"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true"
    ></fa-icon>
  </div>

  <div class="standby__actions" [ngStyle]="{ 'flex-basis': actionsVisible ? '40%' : '0%' }">
    <span class="standby__actions-text"> Actions </span>
    <app-custom-actions [redirectActive]="false"></app-custom-actions>
  </div>
</div>
