<app-top-bar [backButton]="true" [nextButton]="{ text: 'skip' }" (onBack)="decreasePage()" (onNext)="increasePage()">
  @if (page === 0) {
    <img src="assets/nozzle.svg" class="top-bar__center-icon" />
  }
  @if (page === 1) {
    <img src="assets/filament.svg" class="top-bar__center-icon" />
  }
  @if (page > 1) {
    <div class="filament__progress-bar-wrapper">
      <div class="filament__progress-bar" id="progressBar"></div>
    </div>
  }
</app-top-bar>

<div class="filament">
  @if (page === 0 && !showCheckmark) {
    <app-filament-choose-tool (toolChange)="setTool($event)"></app-filament-choose-tool>
  }
  @if (page === 1) {
    <app-filament-choose-spool (spoolChange)="setSpool($event)"></app-filament-choose-spool>
  }
  @if (page === 2) {
    <app-filament-heat-nozzle
      (increasePage)="increasePage()"
      [currentSpool]="currentSpool"
      [selectedSpool]="selectedSpool"
      [selectedTool]="selectedTool"></app-filament-heat-nozzle>
  }
  @if (page === 3) {
    <app-filament-move-filament
      (increasePage)="increasePage()"
      [currentSpool]="currentSpool"
      [action]="'unload'"></app-filament-move-filament>
  }
  @if (page === 4) {
    <app-filament-change-filament
      (increasePage)="increasePage()"
      [selectedSpool]="selectedSpool"
      [selectedTool]="selectedTool"></app-filament-change-filament>
  }
  @if (page === 5) {
    <app-filament-move-filament
      (increasePage)="increasePage()"
      [selectedSpool]="selectedSpool"
      [selectedTool]="selectedTool"
      [action]="'load'"></app-filament-move-filament>
  }
  @if (page === 6 && !showCheckmark) {
    <app-filament-purge-filament
      [selectedTool]="selectedTool"
      (purgeDone)="setSpoolSelection()"></app-filament-purge-filament>
  }
  @if (showCheckmark) {
    <div class="checkmark">
      <ng-lottie
        id="checkmarkAnimation"
        [options]="checkmarkOptions"
        (animationCreated)="setAnimationSpeed($event)"></ng-lottie>
    </div>
  }
</div>
