.no-config__progress {
    width: 100%;

    & td {
        width: 33.3%;
    }
}

.no-config__back {
    padding: 4vh 2vw;
}

.no-config__next {
    padding: 4vh 2vw;
    text-align: right;
}

.no-config__back-icon {
    width: 6vw;
    vertical-align: -5vh;
    margin-right: 1.4vw;
}

.no-config__next-icon {
    width: 6vw;
    vertical-align: -5vh;
    margin-left: 1.4vw;
    margin-right: 1vw;
}

.no-config__text {
    display: block;
    text-align: center;
    margin-left: 2vh;
    margin-right: 3vh;
    font-size: 3.6vw;
}

.no-config__progress-td {
    text-align: center;
}

.no-config__progress-bar-wrapper {
    background-color: #718093;
    height: 4vh;
    width: 20vw;
    display: inline-block;
    border-radius: 2vh;
}

.no-config__progress-bar {
    height: 4vh;
    border-radius: 2vh;
    background-color: #44bd32;
    width: 0vw;
    transition: width .7s ease-in-out;
}

.no-config__input {
    background: transparent;
    margin-top: 9vh;
    padding: 1.5vw 3vh;
    border: 2px solid #dcdde1;
    border-radius: 2.5vw;
    width: 55vw;

    &:focus {
        outline: 0;
        border: 2px solid #44bd32;
    }
}

.no-config__input-small {
    width: 10vw;
    text-align: right;

    &-suffix {
        font-size: 3vw;
        padding-left: 1vw;
    }
}

.no-config__input-label {
    padding-right: 3vw;

    &-small {
        padding-right: 2vw;
    }
}

.no-config__checkbox-container {
    display: inline-block;
    position: relative;
    user-select: none;
    padding-left: 6vw;
    height: 4.5vw;
    margin-top: 8vh;
    cursor: pointer;
}

.no-config__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 4vw;
    width: 4vw;
    background-color: transparent;
    border: 2px solid #dcdde1;
    border-radius: 1vw;
}

.no-config__checkbox-checked {
    background-color: #2196F3;
    width: 2.4vw;
    height: 2.4vw;
    display: block;
    margin-left: .8vw;
    margin-top: .8vw;
    border-radius: .7vw;
}

.no-config__form {
    display: block;
    width: 100%;
    text-align: center;
}


.no-config__1-welcome {
    display: block;
    text-align: center;
    font-size: 6vw;
    margin-top: 2vh;
    margin-bottom: 6vh;
    font-weight: 600;
}

.no-config__1-button_wrapper {
    width: 100%;
    text-align: center;
    height: 32vh;
}

.no-config__1-button {
    background: #44bd32;
    padding: 2vw 4vh;
    border: none;
    border-radius: 2vh;
    margin-top: 12vh;

    &:focus {
        box-shadow: 0 0 2vw 0 rgba(68, 189, 50, 1);
        outline: 0;
    }

    &:hover {
        box-shadow: 0 0 2vw 0 rgba(68, 189, 50, 1);
    }
}


.no-config__2-filament-divider {
    display: block;
    text-align: left;
    margin-left: 4.3vw;
    margin-top: 7vh;
    margin-bottom: -7vh;
    font-weight: 600;
}

.no-config__4-check-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 10vh;
}

.no-config__4-check {
    display: block;
    margin-bottom: 5vh;
}

.no-config__4-check-icon {
    width: 5vw;
    vertical-align: -2.2vw;
    margin-right: 2vw;
}

.no-config__4-errors {
    font-size: 3.6vw;
    font-family: 'Cousine', monospace;
    display: block;
    margin-bottom: 4vh;
}
