.invalid-config {
  display: block;
  overflow-y: scroll;
  height: 100vh;

  &__top-icon {
    width: 16vw;
    display: block;
    margin-left: calc(50% - 8vw);
    margin-top: -8vh;
    margin-bottom: -16vh;
  }

  &__header {
    display: block;
    text-align: center;
    font-size: 6vw;
  }

  &__sub-header {
    text-align: center;
    font-size: 3vw;
    display: block;
  }

  &__error-list {
    margin-left: 11vw;
    margin-top: 5vh;
    list-style-type: disc;

    & li {
      margin-top: 2vh;
      font-size: 2.8vw;
      font-family: Cousine, monospace;

      &::before {
        content: '-';
        margin-right: 2vw;
      }
    }
  }

  &__actions {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
  }

  .reset-button {
    --primary: var(--error);
  }

  button {
    margin: 5px;
  }
}
