@if (isPrinting() || isFileLoaded() || !isTouchscreen()) {
  <div>
    @if (isPrinting() && isTouchscreen()) {
      <app-print-control></app-print-control>
    }
    <app-job-status></app-job-status>
<!--      <app-printer-status></app-printer-status> -->
    <app-height-progress></app-height-progress>
    <app-bottom-bar></app-bottom-bar>
  </div>
}
@if (isTouchscreen() && !isPrinting() && !isFileLoaded()) {
  <div>
    <app-main-menu></app-main-menu>
<!--      <app-printer-status></app-printer-status> -->
    <app-bottom-bar></app-bottom-bar>
  </div>
}
