<!-- //FIXME -->

<!-- <div *ngIf="printing || isFileLoaded()"> -->
<div *ngIf="true">
    <!-- <app-print-control *ngIf="printing"></app-print-control> -->
    <app-print-control *ngIf="false"></app-print-control>
    <app-job-status></app-job-status>
    <app-printer-status></app-printer-status>
    <app-layer-progress></app-layer-progress>
    <app-bottom-bar></app-bottom-bar>
</div>
<div *ngIf="!printing && !isFileLoaded()">
    <app-main-menu></app-main-menu>
    <app-printer-status></app-printer-status>
    <app-bottom-bar></app-bottom-bar>
</div>
