.filaments {
  margin-top: 2vh;
  width: 96vw;
  display: block;
  height: 67vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-right: 1.5vw;

  &::before {
    content: '';
    width: 93vw;
    height: 75vh;
    position: absolute;
    left: 1vw;
    top: 0;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(var(--background), transparent 6%, transparent 94%, var(--background));
  }

  td {
    font-size: 3.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 9vh;

    &:last-of-type {
      line-height: 7vh;
    }

    &.filaments__in-use-icon {
      font-size: 2.4vw;
    }
  }

  tr {
    background-color: var(--background-3);
    border-radius: 1vw;
    padding: 0 1vw;
    display: block;
    margin-bottom: 2vh;
    transition: color 0.25s;
    box-sizing: border-box;
    border: 0;
    position: relative;

    &.filaments__in-use {
      background-color: #937171;
    }

    &:first-of-type {
      margin-top: 3.5vh;
    }

    &:last-of-type {
      margin-bottom: 3.5vh;
    }
  }

  &__type {
    width: 15vw;
    text-align: center;
    margin-left: -2vw;

    &-box {
      font-size: 2vw;
      border: 3px solid;
      width: auto;
      padding: 1.3vh 1.5vw;
      border-radius: 0.15rem;
      font-weight: 500;
    }
  }

  &__name {
    width: 56vw;
  }

  &__in-use-icon {
    width: 6vw;

    ::ng-deep app-hotend-icon p {
      top: 0;
    }
  }

  &__weight-left {
    width: 14vw;
    text-align: right;

    span {
      font-size: 60%;
    }
  }
}

.no-filaments {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20vh;
}
