<div class="quick-control">
  <div class="quick-control-column">
    <div class="quick-control-row">
      <div class="quick-control-increase" (click)="changeValueDelta(1)" matRipple [matRippleUnbounded]="false">+1</div>
      <div class="quick-control-increase" (click)="changeValueDelta(10)" matRipple [matRippleUnbounded]="false">
        +10
      </div>
    </div>

    <div class="quick-control-value" colspan="2" (click)="changeValue(-1000)" matRipple [matRippleUnbounded]="false">
      {{ value }}<span class="quick-control-value-unit">{{ unit }}</span>
    </div>

    <div class="quick-control-row">
      <div class="quick-control-decrease" (click)="changeValueDelta(-1)" matRipple [matRippleUnbounded]="false">-1</div>
      <div class="quick-control-decrease" (click)="changeValueDelta(-10)" matRipple [matRippleUnbounded]="false">
        -10
      </div>
    </div>

    <div class="quick-control-row">
      <div *ngIf="!hideSet" class="quick-control-set" colspan="2" (click)="setValue()" matRipple [matRippleUnbounded]="false">
        <span class="quick-control-set-span">set</span>
      </div>
    </div>
  </div>
  <div class="quick-control-column quick-control-options">
    <div *ngIf="options === null">Loading options...</div>
    <div
      *ngFor="let option of options"
      matRipple
      [matRippleUnbounded]="false"
      (click)="changeValue(option.value)"
      class="quick-control-row">
      <div>{{ option.value }}{{ unit }}</div>
      <div>{{ option.label }}</div>
    </div>
  </div>
</div>
