.quick-control {
  width: 65vw;
  height: 70vh;
  margin: 0 auto;
  border: solid 0.6vw;
  border-radius: 3vw;
  margin-top: 1.5vh;
  display: flex;

  &-options {
    border-left: solid 0.6vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow-y: scroll;

    > div {
      padding: 1vh 2vw;
      margin: 1vh 1vw;
      border-bottom: solid 0.2vw;
      text-align: center;
      justify-content: space-between;
      flex-shrink: 0;
    }
  }

  &-row {
    display: flex;
  }

  &-value {
    padding: 1vh 3vw;
    font-size: 8vw;
    font-weight: 500;
    text-align: center;

    &-unit {
      text-align: center;
      font-size: 4vw;
      font-weight: 400;
    }
  }

  &-increase {
    padding: 2vh 3vw;
    font-weight: 500;
    flex: 1;
  }

  &-decrease {
    padding: 2vh 3vw;
    font-weight: 500;
    flex: 1;
  }

  &-set {
    height: 8vw;
    border-top: solid 0.6vw;
    flex: 1;
    align-items: center;
    display: flex;

    &-span {
      text-align: center;
      flex: 1;
    }
  }
}
