.tab-selector {
  display: flex;
  margin: 4vh 0;
  height: 10vh;
  gap: 2vh;
  justify-content: center;
  overflow: visible;

  &__option {
    text-align: center;
    font-size: 3vw;
    background-color: #252932;
    padding: 0 2vw;
    line-height: 10vh;
    border-radius: 0.8vw;
    box-shadow: 0px 4px 14px -5px #000000;
    transition: background-color 0.5s;

    &-active {
      background-color: #5f6a81;
    }
  }
}

.setup {
  &__explanation {
    margin-top: 10vh !important;
  }
}

.setup__form {
  padding: 7vh 4vw;
}

.integrated {
  display: flex;
  gap: 8vw;
  justify-content: center;
}

.filament-routine__wrapper {
  text-align: center;
}

.filament-load-unload {
  margin: 2vh 0 3vh;
}

.filament-change {
  margin: 8vh 0;
}
