<span class="setup__text" i18n="@@prompt-filament-change">How would you like to change your filament?</span>

<div class="tab-selector">
  <span
    class="tab-selector__option"
    [ngClass]="{ 'tab-selector__option-active': currentPage === filamentRoutine.INTEGRATED }"
    (click)="changePage(filamentRoutine.INTEGRATED)"
    matRipple
    >Integrated Routine</span
  >
  <span
    class="tab-selector__option"
    [ngClass]="{ 'tab-selector__option-active': currentPage === filamentRoutine.LOAD_UNLOAD }"
    (click)="changePage(filamentRoutine.LOAD_UNLOAD)"
    matRipple
    >Load & Unload Command</span
  >
  <span
    class="tab-selector__option"
    [ngClass]="{ 'tab-selector__option-active': currentPage === filamentRoutine.CHANGE }"
    (click)="changePage(filamentRoutine.CHANGE)"
    matRipple
    >Change Command</span
  >
</div>

<div class="setup__form integrated" *ngIf="currentPage === filamentRoutine.INTEGRATED">
  <app-number-control
    [(value)]="filamentChange.integrated.feedLength"
    (valueChange)="updateConfig()"
    id="feedLength"
    label="Feed Length"
    width="small"
    [required]="true"
    [min]="0"
    [max]="9999">
  </app-number-control>
  <span class="setup__input-suffix" style="left: -13vw; bottom: -1.3vh" i18n="@@prompt-info-mm">mm</span>

  <app-number-control
    [(value)]="filamentChange.integrated.feedSpeed"
    (valueChange)="updateConfig()"
    id="feedSpeed"
    label="Feed Speed"
    width="small"
    [required]="true"
    [min]="0"
    [max]="100">
  </app-number-control>
  <span class="setup__input-suffix" style="left: -14.8vw; bottom: -1.3vh" i18n="@@prompt-info-mms">mm/s</span>

  <div class="setup__explanation" style="padding: 2vh 4vw 2vh 0; margin-right: 4vw" i18n="@@filament-changing-warning">
    Feed Length is the distance between extruder and hotend.
  </div>
</div>

<div class="filament-routine__wrapper" *ngIf="currentPage === filamentRoutine.LOAD_UNLOAD">
  <div class="filament-load-unload">
    <app-input-control
      [(value)]="filamentChange.loadAndUnload.unloadCommand"
      (valueChange)="updateConfig()"
      id="unloadCommand"
      label="Unload Command"
      width="large"
      [required]="true"></app-input-control>
  </div>
  <div class="filament-load-unload">
    <app-input-control
      [(value)]="filamentChange.loadAndUnload.loadCommand"
      (valueChange)="updateConfig()"
      id="loadCommand"
      label="Load Command"
      width="large"
      [required]="true"></app-input-control>
  </div>
</div>

<div class="filament-routine__wrapper" *ngIf="currentPage === filamentRoutine.CHANGE">
  <div class="filament-change">
    <app-input-control
      [(value)]="filamentChange.change.changeCommand"
      (valueChange)="updateConfig()"
      id="changeCommand"
      label="Change Command"
      width="large"
      [required]="true"></app-input-control>
  </div>
</div>
