<table class="bottom-bar">
  <tr>
    <td class="bottom-bar__printer-name" (click)="showProfiles()">{{ PrinterName }}</td>
    <td class="bottom-bar__enclosure-temperature" *ngIf="enclosureTemperature">
      <img src="assets/thermometer.svg" class="bottom-bar__enclosure-temperature-icon" />
      {{ enclosureTemperature.temperature }}{{ enclosureTemperature.unit }}
    </td>
    <td class="bottom-bar__current-status">
      {{ getStringStatus(printerStatus) }}
    </td>
  </tr>
</table>
<app-profiles *ngIf="profiles" (closeFunction)="hideProfiles()"></app-profiles>
