.bottom-bar {
  position: absolute;
  bottom: 2.5vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  > div {
    font-size: 3.3vw;
  }

  > div:nth-of-type(1),
  > div:nth-of-type(3) {
    width: 37vw;
  }

  > div:nth-of-type(2) {
    width: 20vw;
  }

  &__enclosure-temperature {
    text-align: center;

    &-icon {
      width: 2.5vw;
      display: inline-block;
      margin-bottom: -0.8vh;
      margin-right: 1vw;
    }
  }

  &__current-status {
    text-align: right;
  }

  &__error {
    color: #c23616;
    animation: blinker 2s linear infinite;
  }
}

@keyframes blinker {
  20% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
}
