.breadcrumbs {
  display: block;
  margin-left: 3vw;
  margin-top: -4.5vh;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 94vw;

  &__item {
    font-size: 2.2vw;

    & span {
      font-size: 2.2vw;
    }

    &::before {
      content: '/';
      padding: 0 0.9vw;
      pointer-events: none;
    }

    &:first-of-type {
      &::before {
        content: '';
        display: none;
      }
    }
  }
}

.files {
  display: block;
  width: 95vw;
  height: 76.5vh;
  margin-left: 2.5vw;
  margin-top: 0.5vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    width: 91vw;
    height: 77vh;
    position: fixed;
    left: 2vw;
    top: 20vh;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(var(--background), transparent 6%, transparent 94%, var(--background));
  }

  &__error {
    text-align: center;
    margin-top: 20vh;
  }

  &__object {
    width: 90vw;
    background-color: var(--background-3);
    border-radius: 1vw;
    height: 11vh;
    line-height: 11vh;
    margin-bottom: 2vh;
    border-left: 0.2em solid transparent;

    &:first-of-type {
      margin-top: 3.5vh;
    }

    &:last-of-type {
      margin-bottom: 5.5vh;
    }

    &--success {
      border-left-color: var(--success);
    }

    &--failed {
      border-left-color: var(--error);
    }

    &--unknown {
      border-left-color: var(--info);
    }
  }

  &__name {
    font-size: 3.2vw;
    height: 11vh;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    margin-left: 9vw;
  }

  &__icon {
    height: 9vh;
    margin: 1vh 1.2vw 0;
    display: block;
    float: left;
  }

  &__info {
    float: right;
    padding-left: 0.7vw;
    line-height: 6vw;

    &-unit {
      font-weight: 400;
      font-size: 2vw;
      padding-left: 0.5vw;
      padding-right: 1.5vw;
    }

    &-value {
      font-size: 3.2vw;
      font-weight: 500;
    }
  }
}

.file {
  opacity: 0;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 85%);
  transition: opacity 0.4s ease-in-out;
  z-index: 5;

  &__close {
    position: absolute;
    right: 1.5vw;
    top: 2vh;
    width: 4vw;
  }

  &__wrapper {
    position: fixed;
    left: 25vw;
    top: 8vh;
    width: 50vw;
    height: 80vh;
    background-color: var(--background);
    z-index: 10;
    border-radius: 2vw;
    padding: 2vh 1.5vw;
    box-shadow: 8px 4px 18px 0 rgb(0 0 0 / 75%);
  }

  &__loading {
    text-align: center;
    padding-top: 30vh;
    height: 50vh;
  }

  &__name {
    display: block;
    font-size: 3.5vw;
    margin-bottom: 1vh;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 45.5vw;
  }

  &__directory {
    display: block;
    font-size: 2.4vw;
    margin-bottom: 0.5vh;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__creation-date {
    display: block;
    font-size: 2.4vw;
  }

  &__render {
    height: 30vh;
    margin: 3.5vh auto 2.5vh;
    display: block;
  }

  &__details {
    width: 90%;
    margin-left: 5%;

    & td {
      width: 33.3%;
      text-align: center;
      font-size: 4vw;
      font-weight: 500;

      &:first-of-type:not(:only-of-type) {
        text-align: left;
      }

      &:last-of-type:not(:only-of-type) {
        text-align: right;
      }
    }

    &-name {
      font-size: 2.3vw;
    }
  }

  &__actions {
    width: 90%;
    margin-left: 5%;
    margin-top: 1vh;
    font-size: 10vh;

    &-icon-large {
      font-size: 14vh;
    }

    & td {
      width: 33.3%;
      text-align: center;

      & span {
        position: absolute;
        margin-left: -5vw;
      }

      &:first-of-type {
        text-align: left;
        color: var(--info);

        & span {
          margin-top: 4vh;
          position: absolute;
          margin-left: 0;
        }
      }

      &:last-of-type {
        text-align: right;
        color: var(--error);

        & span {
          margin-top: 4.5vh;
          position: absolute;
          margin-left: -5vw;
        }
      }
    }
  }
}

.sorting {
  display: block;
  position: fixed;
  background-color: rgb(0 0 0 / 85%);

  // backdrop-filter: blur(8px);
  transition: opacity 0.4s ease-in-out;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 10;

  &-close {
    position: absolute;
    right: 1.5vw;
    top: 2vh;
    width: 4vw;
  }

  &-wrapper {
    position: fixed;
    left: 25vw;
    top: 24vh;
    width: 50vw;
    height: 47vh;
    background-color: var(--background);
    z-index: 10;
    border-radius: 2vw;
    padding: 2vh 1.5vw;
    box-shadow: 8px 4px 18px 0 rgb(0 0 0 / 75%);
  }

  &-heading {
    display: block;
    font-size: 3.5vw;
    margin-bottom: 1vh;
    font-weight: 500;
  }

  &-selection {
    padding-left: 4vw;
    display: block;

    & td {
      width: 30vw;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 3vw;
    width: 3vw;
    background-color: transparent;
    border: 2px solid var(--border);
    border-radius: 1vw;

    &-container {
      display: inline-block;
      position: relative;
      user-select: none;
      padding-left: 5vw;
      height: 4.5vw;
      margin-top: 1.4vh;
      cursor: pointer;
      overflow: visible;
    }

    &-checked {
      background-color: var(--primary);
      width: 1.8vw;
      height: 1.8vw;
      display: block;
      margin-left: 0.6vw;
      margin-top: 0.6vw;
      border-radius: 0.4vw;

      &-disabled {
        background-color: rgb(255 255 255 / 50%);
      }
    }

    &-descriptor {
      font-size: 2.5vw;
      vertical-align: 2vh;
    }
  }
}
