<table class="top-bar">
  <tr>
    @if (back) {
      <td class="top-bar__back" matRipple [matRippleUnbounded]="false" (click)="onBack.emit(true)">
        <fa-icon [icon]="back.icon" class="top-bar__back-icon" />
        {{ back.text }}
      </td>
    }
    @if (!back) {
      <td class="top-bar__back">
        <ng-content select="left-text"></ng-content>
      </td>
    }
    <td class="top-bar__center">
      <ng-content></ng-content>
    </td>
    @if (next) {
      <td class="top-bar__next" matRipple [matRippleUnbounded]="false" (click)="onNext.emit(true)">
        {{ next.text }}
        <fa-icon [icon]="next.icon" class="top-bar__next-icon" />
      </td>
    }
    @if (!next) {
      <td class="top-bar__next">
        <ng-content select="right-text"></ng-content>
      </td>
    }
  </tr>
</table>
