.top-bar {
  width: 100%;
  height: 10vh;

  & td {
    width: 33.3%;
    max-height: 10vh;
  }

  &__back {
    padding: 4vh 2vw 2vh;
    font-weight: 500;

    ::ng-deep &-icon {
      margin-right: 1.4vw;
      margin-left: 1vw;
    }
  }

  &__next {
    padding: 4vh 2vw 2vh;
    text-align: right;
    font-weight: 500;

    ::ng-deep &-icon {
      margin-left: 1.4vw;
      margin-right: 1vw;
    }
  }

  &__center {
    text-align: center;

    ::ng-deep &-icon {
      width: 7vw;
      max-height: 10vh;
    }
  }
}
