.filaments {
  margin-top: 2vh;
  width: 96vw;
  display: block;
  height: 67vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-right: 1.5vw;

  &::before {
    content: '';
    width: 93vw;
    height: 68vh;
    position: fixed;
    left: 1vw;
    top: 30.5vh;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(#353b48, transparent 6%, transparent 94%, #353b48);
  }

  td {
    font-size: 3.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 9vh;

    &:last-of-type {
      line-height: 7vh;
    }

    &.filaments__in-use-icon {
      font-size: 2.4vw;
    }
  }

  tr {
    background-color: #718093;
    border-radius: 1vw;
    padding: 0 1vw;
    display: block;
    margin-bottom: 2vh;
    height: 11vh;
    transition: color 0.25s;
    box-sizing: border-box;
    border: 0;
    position: relative;

    &.filaments__in-use {
      background-color: #937171;
    }

    &:first-of-type {
      margin-top: 3.5vh;
    }

    &:last-of-type {
      margin-bottom: 3.5vh;
    }

    &::before,
    &::after {
      border: 3px solid transparent;
      width: 0;
      height: 0;
      content: '';
      position: absolute;
      border-radius: 1vw;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &:active::before,
    &:active::after {
      width: calc(100% - 6px);
      height: calc(100% - 6px);
    }

    &:active::before {
      border-top-color: #4bae50;
      border-right-color: #4bae50;
      transition: border-color 0s ease-out 0.7s, width 1s ease-out 0.7s, height 0.1s ease-out 1.7s;
    }

    &:active::after {
      border-bottom-color: #4bae50;
      border-left-color: #4bae50;
      transition: border-color 0s ease-out 1.8s, width 1s ease-out 1.8s, height 0.1s ease-out 2.9s;
    }
  }

  &__type {
    width: 15vw;
    text-align: center;
    margin-left: -2vw;

    &-box {
      font-size: 2vw;
      border: 3px solid;
      width: auto;
      padding: 1.3vh 1.5vw;
      border-radius: 0.15rem;
      font-weight: 500;
    }
  }

  &__name {
    width: 62vw;
  }

  &__in-use .filaments__name {
    width: 56vw;
  }

  &__in-use-icon {
    width: 6vw;
    text-align: center;
    background-image: url('../../../assets/nozzle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4.3vw 4.3vw;
  }

  &__weight-left {
    width: 14vw;
    text-align: right;
  }
}

.no-filaments {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20vh;
}
