.job-info {
  height: 27vw;
  display: block;

  &__no-job {
    width: 100%;
    font-size: 6vw;
    height: 26vh;
    padding-top: 19vh;
    text-align: center;
  }

  &__progress {
    padding: 4.5vw 5vw 0 4.5vw;
    width: 22vw;
    height: 22vw;
    float: left;

    &-stretch {
      padding: 3vw 5vw 0 4.5vw;
    }

    &-percentage {
      margin-top: -16vw;
      margin-left: 4.3vw;
      font-size: 8.5vw;
      text-align: center;
      width: 14vw;
    }

    &-preview {
      width: 20vw;
      margin-left: 1vw;

      &-image {
        width: 13vw;

        &-container {
          margin-top: -17vw;
        }
      }
    }

    &-bar {
      height: 1vw;
      border-radius: 1vw;
      background-color: #4bae50;

      &__wrapper {
        width: 21vw;
        margin: -0.5vw 1vw 0;
        height: 1vw;
      }
    }
  }

  &__filename {
    font-size: 6vw;
    padding-top: 6.5vh;
    display: inline-block;
    width: 65vw;
    text-overflow: ellipsis;
    height: 12vh;
    overflow: hidden;
    white-space: nowrap;
  }

  &__filament {
    font-size: 3vw;
    margin-top: -1.3vh;
    display: block;
  }

  &__time {
    display: inline-block;
    margin-top: -1.7vh;

    &-left {
      font-size: 6vw;
      font-weight: 500;
    }
  }

  &__file-loaded > .job-info__filename {
    font-size: 5vw;
  }

  &__preview {
    width: 21vw;
    float: left;

    &-image {
      width: 15vw;
      margin: 4vh 3vw 0;
    }

    &-discard {
      display: block;
      font-size: 2vw;
      background-color: rgba(194, 54, 22, 0.85);
      width: 10vw;
      text-align: center;
      padding: 1.8vh 0;
      border-radius: 0.8vw;
      margin: 2vh auto;
    }
  }

  &__actions {
    &-item {
      &-heat {
        float: right;
        margin: -13vh 7vw 0 0;

        &-disabled {
          opacity: 0.4;
        }

        &-icon {
          width: 5.5vw;
        }
      }

      &-print {
        float: right;
        margin: -7vh 5vw 0 0;

        &-icon {
          width: 11vw;
        }
      }
    }
  }

  &__print-details {
    width: 63vw;
    margin-top: -17vh;
    margin-bottom: 1.5vh;

    &-icon {
      padding-right: 2vw;
      font-size: 3vw;
      vertical-align: 0.8vh;
    }

    &-value {
      padding-bottom: 3vh;
      display: inline-flex;
    }

    &-finish-state {
      font-size: 2.6vw;
    }
  }
}
