<div class="job-info" *ngIf="job && job.status === 'Printing'">
    <div class="job-info__progress-ring">
        <round-progress [current]="job.progress" [max]="100" [stroke]="25" [rounded]="true" [responsive]="true"
            [color]="'#44bd32'"></round-progress>
        <div class="job-info__progress-percentage">{{ job.progress }}<span style="font-size: 40%">%</span></div>
    </div>
    <span class="job-info__filename">{{ job.filename }}</span> <br />
    <span class="job-info__filament">{{ job.filamentAmount }}g Filament</span> <br />
    <span class="job-info__time"><span
            class="job-info__time-left">{{ job.timeLeft.value }}</span>{{ job.timeLeft.unit }} left,
        elapsed: {{ job.timePrinted.value }}{{ job.timePrinted.unit }}</span>
</div>
<div class="job-info__file-loaded" *ngIf="job && job.status !== 'Printing' && isFileLoaded()">
    <img src="assets/object.svg" class="job-info__preview" />
    <span class="job-info__filename">{{ job.filename }}</span> <br />
    <table class="job-info__actions">
        <tr>
            <td class="job-info__actions-item-column" (click)="cancelLoadedFile()">
                <img src="assets/discard.svg" class="job-info__actions-item job-info__actions-item-1" /> <br />
                discard
            </td>
            <td class="job-info__actions-item-column" (click)="preheat()">
                <img src="assets/heat.svg" class="job-info__actions-item job-info__actions-item-2" /> <br />
                preheat

            </td>
            <td class="job-info__actions-item-column" (click)="startJob()">
                <img src="assets/print.svg" class="job-info__actions-item job-info__actions-item-3" /> <br>
                print
            </td>
        </tr>
    </table>
</div>
<div class="job-info__no-job" *ngIf="!job && isFileLoaded()">
    loading info ...
</div>
<div class="job-info__no-job"
    *ngIf="(!job && !isFileLoaded()) || (job && job.status !== 'Printing' && !isFileLoaded())">
    no job running ...
</div>
