.job-info {
    height: 27vw;
    display: block;

    &__no-job {
        width: 100%;
        font-size: 6vw;
        height: 26vh;
        padding-top: 19vh;
        text-align: center;
    }

    &__progress {
        &-ring {
            padding: 4.5vw 5vw 0 4.5vw;
            width: 22vw;
            height: 22vw;
            float: left;
        }

        &-percentage {
            margin-top: -16vw;
            margin-left: 4.3vw;
            font-size: 8.5vw;
            text-align: center;
            width: 14vw;
        }
    }


    &__filename {
        font-size: 6vw;
        padding-top: 6.5vh;
        display: inline-block;
        width: 65vw;
    }

    &__filament {
        font-size: 3vw;
        margin-top: -1.3vh;
        display: block;
    }

    &__time {
        display: inline-block;
        margin-top: -1.7vh;

        &-left {
            font-size: 6vw;
            font-weight: 500;
        }
    }
}
