.job-info {
    height: 27vw;
    display: block;

    &__no-job {
        width: 100%;
        font-size: 6vw;
        height: 26vh;
        padding-top: 19vh;
        text-align: center;
    }

    &__progress {
        &-ring {
            padding: 4.5vw 5vw 0 4.5vw;
            width: 22vw;
            height: 22vw;
            float: left;
        }

        &-percentage {
            margin-top: -16vw;
            margin-left: 4.3vw;
            font-size: 8.5vw;
            text-align: center;
            width: 14vw;
        }
    }


    &__filename {
        font-size: 6vw;
        padding-top: 6.5vh;
        display: inline-block;
        width: 65vw;
        text-overflow: ellipsis;
        height: 12vh;
        overflow: hidden;
        white-space: nowrap;
    }

    &__filament {
        font-size: 3vw;
        margin-top: -1.3vh;
        display: block;
    }

    &__time {
        display: inline-block;
        margin-top: -1.7vh;

        &-left {
            font-size: 6vw;
            font-weight: 500;
        }
    }

    &__file-loaded>.job-info__filename {
        width: 77vw;
    }

    &__preview {
        width: 15vw;
        margin-top: 9vh;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-bottom: 8vh;
        float: left;
    }

    &__actions {
        float: right;
        margin-top: 0vh;
        overflow: visible;
        width: 63vw;
        margin-right: 11vw;
        margin-bottom: 4vh;

        &-item {
            width: 7vw;
            padding: 0 2vw;


            &-column {
                font-size: 3vw;
                text-align: center;
                width: 33.3%;
                font-weight: 500;
            }

            &-3 {
                width: 8.7vw;
                margin-bottom: -1.6vh;
            }
        }
    }
}
