<span class="setup__text"> Maintenant, donnez-moi quelques informations sur votre configuration afin que je puisse personnaliser OctoDash pour vous. </span>
<form class="setup__form">
  <label for="printerName" class="setup__input-label">Nom de l'imprimante :</label>
  <input
    type="text"
    id="printerName"
    class="setup__input personalization__input"
    maxlength="13"
    [ngModel]="printerName"
    (ngModelChange)="printerNameChange.emit($event)"
    name="printerName"
    required
  />
  <div class="setup__checkbox-container" (click)="changeUseTouchscreen()">
    <span class="setup__checkbox">
      <span class="setup__checkbox-checked" *ngIf="useTouchscreen"></span>
    </span>
    Écran tactile
  </div>
</form>
<div class="setup__explanation">
  Vous pouvez modifier tous les paramètres (et même plus) dans le menu des paramètres à tout moment.
  Une description de chaque attribut est également disponible dans le Wiki de GitHub.
</div>
