<span class="setup__text" i18n="@@select-instance">
  Select your {{ backendType }} instance from the list below or enter the IP/URL manually.
</span>
<div *ngIf="!manualURL">
  <div class="discover-backend__wrapper">
    <span *ngFor="let node of nodes" class="discover-backend__node" (click)="chooseNode(node)" matRipple>
      <div class="discover-backend__node-name">
        {{ node.name }}
        <br />
        <span class="discover-backend__node-details" i18n="@@version-url">
          Version {{ node.version }}, URL: {{ node.url }}
        </span>
      </div>
      <fa-icon [icon]="['fas', 'link']" class="discover-backend__node-connect-icon"></fa-icon>
    </span>
    <span class="discover-backend__searching loading-dots" *ngIf="!nodes" i18n="@@searching">searching</span>
  </div>
  <div class="discover-backend__manual" (click)="enterURLManually()" i18n="@@enter-manually">enter manually</div>
</div>
<div *ngIf="manualURL">
  <form class="setup__form" style="margin-top: 5vh">
    <span class="setup__input-prefix">http://</span>
    <input
      type="text"
      id="url"
      class="setup__input"
      [(ngModel)]="urlSplit.host"
      (ngModelChange)="emitNode()"
      name="url"
      required
      style="width: 42.5vw" />
    <span class="setup__input-prefix" style="padding-left: 1vw">:</span>
    <input
      type="text"
      id="port"
      class="setup__input"
      [(ngModel)]="urlSplit.port"
      (ngModelChange)="emitNode()"
      name="port"
      required
      style="width: 14vw" />
    <p
      class="setup__explanation"
      style="margin-top: 8vh"
      i18n="@@port-recommendation"
      *ngIf="backendType === backendTypeEnum.OCTOPRINT">
      Use port 5000 for vanilla OctoPrint or 80 for OctoPi
    </p>
    <p
      class="setup__explanation"
      style="margin-top: 8vh"
      i18n="@@port-recommendation"
      *ngIf="backendType === backendTypeEnum.MOONRAKER">
      Use port 7125 for vanilla Moonraker
    </p>
  </form>
  <div class="discover-backend__manual" (click)="searchForInstance()" style="margin-top: 7.5vh" i18n="@@search-again">
    search again
  </div>
</div>

<div class="confirm__wrapper" *ngIf="showLocalDialog">
  <div class="confirm">
    <h1 i18n="@@connect-localhost">Connect to localhost?</h1>
    <p class="confirm__sub-heading" i18n="@@prompt-same-machine">
      Are you trying to connect to OctoPrint that is running on the same machine as OctoDash?
    </p>
    <div class="confirm__action-row">
      <div class="confirm__button confirm__button-positive" (click)="chooseLocalInstance(urlSplit)" matRipple>
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </div>
      <div class="confirm__button confirm__button-negative" (click)="emitNode(urlSplit)" matRipple>
        <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
      </div>
    </div>
  </div>
</div>
