<div class="main-menu">
  <span class="main-menu__heading">
    OctoDash<span class="main-menu__heading" style="color: #1ec02c; display: inline">.</span>
  </span>
  <fa-icon
    [icon]="['fas', 'gear']"
    (click)="showSettings()"
    matRipple
    class="main-menu__settings-icon"
    [matRippleCentered]="true"
    [matRippleUnbounded]="true"></fa-icon>

  <div class="main-menu__update-notifier" *ngIf="service.updateAvailable"></div>

  <div class="main-menu__options">
    <div routerLink="/files" matRipple [matRippleCentered]="true">
      <fa-icon [icon]="['fas', 'folder-closed']"></fa-icon>
      <span i18n="@@menu-files">files</span>
    </div>
    <div routerLink="/filament" matRipple [matRippleCentered]="true">
      <fa-icon [icon]="['fas', 'circle-dot']"></fa-icon>
      <span i18n="@@menu-filament">filament</span>
    </div>
    <div routerLink="/control" matRipple [matRippleCentered]="true">
      <fa-icon [icon]="['fas', 'gamepad']"></fa-icon>
      <span i18n="@@menu-control">control</span>
    </div>
  </div>
</div>
<!-- <app-settings *ngIf="settings" (closeFunction)="hideSettings()"></app-settings> -->
