.icon-wrapper {
  width: 25vw;
  height: 31vh;
  margin: 0 auto;
}

.main-menu {
  display: block;
  width: 100%;
  height: 58vh;

  &__heading {
    display: block;
    text-align: center;
    font-size: 5vw;
    font-weight: 500;
    margin-top: 4vh;
    font-family: 'Arvo';
  }

  &__settings-icon {
    position: absolute;
    right: 3vw;
    top: 4vh;
    font-size: 6vw;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.75));
    opacity: 0.95;
  }

  &__options {
    margin: 2.5vh 5vw 0;
    width: 90vw;
    height: 43vh;
    display: flex;
    gap: 2vw;
    justify-content: space-around;

    > div {
      width: 29vw;
      border-radius: 1vw;
      font-weight: 500;
      gap: 3vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > fa-icon {
        font-size: 10vw;
        opacity: 0.95;
        filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.75));
      }
    }
  }

  &__update-notifier {
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 4vw;
    background-color: #e84118;
    position: absolute;
    right: 1.9vw;
    top: 13vh;
  }
}
