.icon-wrapper {
  width: 25vw;
  height: 31vh;
  margin: 0 auto;
}

.main-menu {
  display: block;
  width: 100%;
  height: 58vh;

  &__heading {
    display: block;
    text-align: center;
    font-size: 5vw;
    font-weight: 500;
    margin-top: 4vh;
    font-family: 'Arvo';
  }

  &__settings-icon {
    position: absolute;
    right: 3vw;
    top: 4vh;
    font-size: 6vw;
  }

  &__options {
    margin: 2.5vh 2vw 0;
    width: 96vw;
    display: flex;
    gap: 2vw;
    justify-content: space-around;

    > div {
      width: 29vw;
      text-align: center;
      font-weight: 500;
      padding-bottom: 2vh;
      border-radius: 1vw;
    }
  }

  &__option-icon {
    display: block;
    margin: 0 auto;

    &__files {
      width: 14.8vw;
      padding-top: 3vh;
    }

    &__filament {
      width: 15.5vw;
      padding-top: 3vh;
    }

    &__control {
      width: 15.5vw;
      padding-top: 5.7vh;
    }
  }

  &__update-notifier {
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 4vw;
    background-color: #e84118;
    position: absolute;
    right: 1.9vw;
    top: 13vh;
  }
}
