<div class="main-menu">
  <span class="main-menu__heading">
    OctoDash<span class="main-menu__heading" style="color: #1ec02c; display: inline">.</span>
  </span>
  <fa-icon
    [icon]="['fas', 'gear']"
    (click)="showSettings()"
    matRipple
    class="main-menu__settings-icon"
    [matRippleCentered]="true"
    [matRippleUnbounded]="true"></fa-icon>

  <div class="main-menu__update-notifier" *ngIf="service.updateAvailable"></div>

  <div class="main-menu__options">
    <div routerLink="/files" matRipple [matRippleCentered]="true">
      <div class="icon-wrapper">
        <img src="assets/files-color.png" class="main-menu__option-icon main-menu__option-icon__files" />
      </div>
      <ng-container i18n="@@menu-files">files</ng-container>
    </div>
    <div routerLink="/filament" matRipple [matRippleCentered]="true">
      <div class="icon-wrapper">
        <img src="assets/filament-color.png" class="main-menu__option-icon main-menu__option-icon__filament" />
      </div>
      <ng-container i18n="@@menu-filament">filament</ng-container>
    </div>
    <div routerLink="/control" matRipple [matRippleCentered]="true">
      <div class="icon-wrapper">
        <img src="assets/control-color.png" class="main-menu__option-icon main-menu__option-icon__control" />
      </div>
      <ng-container i18n="@@menu-control">control</ng-container>
    </div>
  </div>
</div>
<!-- <app-settings *ngIf="settings" (closeFunction)="hideSettings()"></app-settings> -->
