.invalid-config {
  &__top-icon {
    width: 16vw;
    display: block;
    margin-left: calc(50% - 8vw);
    margin-top: -4vh;
    margin-bottom: -8vh;
  }

  &__header {
    display: block;
    text-align: center;
    font-size: 6vw;
  }

  &__sub-header {
    text-align: center;
    font-size: 3vw;
    display: block;
  }

  &__error-list {
    margin-left: 2vw;
    margin-top: 5vh;
    list-style-type: disc;

    & li {
      margin-top: 2vh;
      font-size: 2.8vw;
      font-family: 'Cousine', monospace;

      &::before {
        content: '-';
        margin-right: 2vw;
      }
    }
  }
}
