.setup {
  &__progress-bar {
    height: 4vh;
    border-radius: 2vh;
    background-color: #4bae50;
    width: 0;
    transition: width 0.7s ease-in-out;

    &-wrapper {
      background-color: #718093;
      height: 4vh;
      width: 20vw;
      display: inline-block;
      border-radius: 2vh;
    }
  }

  &__text {
    display: block;
    text-align: center;
    margin-left: 2vh;
    margin-right: 3vh;
    font-size: 3.6vw;

    fa-icon {
      display: block;
      margin-top: 2vh;
    }
  }

  &__button {
    background-color: #4bae50;
    display: inline-block;
    padding: 1.4vh 2vw;
    border-radius: 1vw;
    box-shadow: 0 10px 19px -8px rgba(0, 0, 0, 0.75);
  }

  &__input {
    background: transparent;
    margin-top: 7vh;
    padding: 3vh 2.5vw;
    border: 2px solid #dcdde1;
    border-radius: 2.5vw;
    width: 55vw;
    line-height: 125%;

    &__numeric {
      border-radius: 0;

      &-wrapper {
        display: inline-table;
        text-align: center;
      }

      &-adjust {
        display: inline-flex;
        padding: 3vh 3vw;
        border: 2px solid #dcdde1;
        border-radius: 2.5vw 0 0 2.5vw;
        margin-right: -2px;
        font-size: 4.3vw;
        line-height: 125%;

        &-increase {
          border-radius: 0 2.5vw 2.5vw 0;
          margin-left: -2px;
        }
      }

      &:focus {
        border: 2px solid #dcdde1 !important;
        border-bottom: 2px solid #4bae50 !important;
      }
    }

    &:focus {
      outline: 0;
      border: 2px solid #4bae50;
    }

    &-small {
      width: 10vw;
      text-align: right;

      &-suffix {
        font-size: 3vw;
        display: inline-block;
        opacity: 0.6;
        margin-right: 10vw;
      }
    }

    &-label {
      padding-right: 3vw;

      &-small {
        padding-right: 2vw;
      }
    }

    &-prefix {
      font-size: 3vw;
      opacity: 0.7;
      padding-right: 1vw;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 4vw;
    width: 4vw;
    background-color: transparent;
    border: 2px solid #dcdde1;
    border-radius: 1vw;

    &-container {
      display: inline-block;
      position: relative;
      user-select: none;
      padding-left: 6vw;
      height: 4.5vw;
      margin-top: 8vh;
      cursor: pointer;
      overflow: visible;
    }

    &-checked {
      background-color: #2196f3;
      width: 2.4vw;
      height: 2.4vw;
      display: block;
      margin-left: 0.75vw;
      margin-top: 0.75vw;
      border-radius: 0.7vw;

      &-disabled {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &__form {
    display: block;
    width: 100%;
    text-align: center;
  }

  &__explanation {
    font-size: 3vw;
    font-style: italic;
    opacity: 0.7;
    margin-top: 6vh;
    padding: 2vh 4vw;
    text-align: center;
  }

  &__validation {
    &-check-wrapper {
      width: 100%;
      text-align: center;
      padding-top: 8vh;
    }

    &-check {
      display: block;
      margin-bottom: 5vh;
    }

    &-check-icon {
      width: 5vw;
      vertical-align: -2.2vw;
      margin-right: 2vw;
    }

    &-errors {
      font-size: 3.6vw;
      font-family: 'Cousine', monospace;
      display: block;
      margin-bottom: 4vh;
    }
  }

  &__connecting {
    display: block;
    text-align: center;
    font-size: 140%;
    margin-top: 20vh;
  }
}
