<div class="setup">
  <div class="top-bar">
    <div class="top-bar__side" [ngClass]="{ 'top-bar__side-hidden': !showBackButton() }" matRipple>
      <div *ngIf="showBackButton()" (click)="decreasePage()">
        <img src="assets/back.svg" class="top-bar__side-icon top-bar__side-icon-left" />
        <span i18n="@@setup-back">back</span>
      </div>
    </div>

    <div class="top-bar__center">
      <div class="setup__progress-bar-wrapper">
        <div class="setup__progress-bar" id="progressBar"></div>
      </div>
    </div>

    <div class="top-bar__side" [ngClass]="{ 'top-bar__side-hidden': !showNextButton() }" matRipple>
      <div *ngIf="showNextButton()" (click)="increasePage()">
        <span i18n="@@setup-next">next</span>
        <img src="assets/next.svg" class="top-bar__side-icon top-bar__side-icon-right" />
      </div>
    </div>
  </div>

  <app-config-setup-welcome [update]="configUpdate" *ngIf="page === 0"></app-config-setup-welcome>

  <app-config-setup-choose-backend
    *ngIf="page === 1"
    (increasePage)="increasePage()"
    (configGenerated)="useNewConfig($event)">
  </app-config-setup-choose-backend>

  <app-config-setup-discover-backend
    *ngIf="page === 2"
    [(backend)]="config.backend.url"
    [backendType]="config.backend.type"
    (increasePage)="increasePage()"
    (changeURLEntryMethod)="changeURLEntryMethod($event)">
  </app-config-setup-discover-backend>

  <app-config-setup-octoprint-authentication
    [octoprintURL]="config.backend.url"
    (increasePage)="increasePage()"
    [(accessToken)]="config.backend.accessToken"
    *ngIf="page === 3 && hasOctoprintBackend()"></app-config-setup-octoprint-authentication>

  <app-config-setup-moonraker-authentication
    (increasePage)="increasePage()"
    [(accessToken)]="config.backend.accessToken"
    *ngIf="page === 3 && hasMoonrakerBackend()"></app-config-setup-moonraker-authentication>

  <app-config-setup-personalization
    [backendUrl]="config.backend.url"
    [backendType]="config.backend.type"
    [apiKey]="config.backend.accessToken"
    [(printerName)]="config.printer.name"
    [(useTouchscreen)]="config.screen.touchscreen"
    *ngIf="page === 4"></app-config-setup-personalization>

  <!-- <app-config-setup-extruder-information
    [(feedLength)]="config.filament.feedLength"
    [(feedSpeed)]="config.filament.feedSpeed"
    *ngIf="page === 4"></app-config-setup-extruder-information>

  <app-config-setup-plugins
    *ngIf="page === 5"
    [(displayLayerProgressPlugin)]="config.plugins.displayLayerProgress.enabled"
    [(enclosurePlugin)]="config.plugins.enclosure.enabled"
    [(filamentManagerPlugin)]="config.plugins.filamentManager.enabled"
    [(spoolManagerPlugin)]="config.plugins.spoolManager.enabled"
    [(preheatButtonPlugin)]="config.plugins.preheatButton.enabled"
    [(printTimeGeniusPlugin)]="config.plugins.printTimeGenius.enabled"
    [(psuControlPlugin)]="config.plugins.psuControl.enabled"
    [(ophomPlugin)]="config.plugins.ophom.enabled"
    [(tpLinkSmartPlugPlugin)]="config.plugins.tpLinkSmartPlug.enabled"
    [(tasmotaPlugin)]="config.plugins.tasmota.enabled"
    [(tasmotaMqttPlugin)]="config.plugins.tasmotaMqtt.enabled"></app-config-setup-plugins> -->

  <div *ngIf="page === 6">
    <span class="setup__text" i18n="@@checking">Great! I'll check everything.</span>
    <div class="setup__validation-check-wrapper">
      <span class="setup__validation-check">
        <img
          [src]="octoprintConnection ? 'assets/checkmark.svg' : 'assets/error.svg'"
          class="setup__validation-check-icon" />
        <ng-container i18n="@@checking-octoprint-connection"> OctoPrint Connection </ng-container>
      </span>
      <div *ngIf="octoprintConnection">
        <span class="setup__validation-check">
          <img src="assets/checkmark.svg" class="setup__validation-check-icon" *ngIf="configValid" />
          <img src="assets/error.svg" class="setup__validation-check-icon" *ngIf="!configValid" />
          <ng-container i18n="@@checking-config"> Validating Config </ng-container>
        </span>
      </div>
      <div *ngIf="configValid">
        <span class="setup__validation-check">
          <img src="assets/checkmark.svg" class="setup__validation-check-icon" *ngIf="configSaved === null" />
          <img src="assets/error.svg" class="setup__validation-check-icon" *ngIf="configSaved !== null" />
          <ng-container i18n="@@checking-save"> Saving Config </ng-container>
        </span>
        <span class="setup__validation-errors" *ngIf="configSaved">{{ configSaved }}</span>
      </div>
      <span class="setup__validation-errors" *ngFor="let error of configErrors">{{ error }}</span>
      <span *ngIf="configSaved === null" class="setup__button" (click)="finishWizard()" i18n="@@wizard-done">done</span>
    </div>
  </div>
</div>
