.main-icon {
  width: 35%;
  margin-bottom: 6%;
  margin-top: 30%;
}

.icon-github:before {
  line-height: 190%;
}

.main-section {
  height: 95vh;
}

.navbar-brand {
  font-family: 'Arvo', sans-serif;
  font-weight: 600;
}

.btn {
  font-size: 150%;
}

.first-heading-title {
  margin-top: 10%;
}

.heading-title {
  margin-top: 3%;
}

p {
  font-size: 119%;
}

h5 {
  text-align: center;
  font-size: 150%;
  line-height: 300%;
}

.install-script {
  text-align: center;
  font-size: 120%;
  font-family: 'Cousine', monospace;
  background-color: #252932;
  padding: 2vh;
  border-radius: 8px;
  margin-bottom: 0.5vh;
  display: block;
  white-space: nowrap;
  width: auto;
  overflow-y: scroll;
}

.carousel-item {
  background-size: contain;
  margin-top: 1.5%;
  margin-bottom: 3.5%;
}

.carousel-inner {
  background-color: #252932;
}

h4 {
  float: left;
  margin-right: 15px;
}

.nav-item > a {
  line-height: 250%;
}

.nav-pills > li {
  width: 100%;
}

.main-button {
  padding-bottom: 1rem !important;
}

.subtitle {
  width: 100%;
}

.myaccordion .btn {
  text-transform: none;
  text-align: left;
}

.iframe-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 40%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
