<span class="setup__text" i18n="@@select-instance">
  First things first: Please select your OctoPrint instance from the list below or enter the IP/URL manually.
</span>
<div *ngIf="!manualURL">
  <div class="discover-octoprint__wrapper">
    <span *ngFor="let node of octoprintNodes" class="discover-octoprint__node" (click)="setOctoprintInstance(node)">
      <div class="discover-octoprint__node-name">
        {{ node.name }}
        <br />
        <span class="discover-octoprint__node-details" i18n="@@version-url"> Version {{ node.version }}, URL: {{ node.url }} </span>
      </div>
      <img src="assets/connect.svg" class="discover-octoprint__node-connect-icon" />
    </span>
    <span class="discover-octoprint__searching loading-dots" *ngIf="!octoprintNodes" i18n="@@searching">searching</span>
  </div>
  <div class="discover-octoprint__manual" (click)="enterURLManually()" i18n="@@enter-manually">enter manually</div>
</div>
<div *ngIf="manualURL">
  <form class="setup__form" style="margin-top: 5vh">
    <span class="setup__input-prefix">http://</span>
    <input
      type="text"
      id="octoprintURLName"
      class="setup__input"
      [ngModel]="octoprintHost"
      (ngModelChange)="octoprintHostChange.emit($event)"
      name="octoprintURLName"
      required
      style="width: 42.5vw"
    />
    :
    <input
      type="text"
      id="octoprintURLPort"
      class="setup__input"
      [ngModel]="octoprintPort"
      (ngModelChange)="octoprintPortChange.emit($event)"
      name="octoprintURLPort"
      required
      style="width: 14vw"
    />
    <p class="setup__input-prefix" style="margin-top: 8vh" i18n="@@port-recommendation">Port 5000 for vanilla OctoPrint, Port 80 for OctoPi</p>
  </form>
  <div class="discover-octoprint__manual" (click)="searchForInstance()" style="margin-top: 5.5vh" i18n="@@search-again">search again</div>
</div>

<div class="confirm__wrapper" *ngIf="urlSplit">
  <div class="confirm">
    <h1 i18n="@@connect-localhost">connect to localhost?</h1>
    <p class="confirm__sub-heading" i18n="@@prompt-same-machine">
      are you trying to connect to OctoPrint that is running on the same machine as OctoDash?
    </p>
    <img class="confirm__icon" src="assets/confirm-small.svg" (click)="emitLocalOctoprintInstance(urlSplit)" />
    <img class="confirm__icon" src="assets/cancel-small.svg" (click)="emitOctoprintInstance(urlSplit)" />
  </div>
</div>
