.container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.bottom-bar {
    position: absolute;
    bottom: 3vw;
    left: 0;
    right: 1.6vw;
}

.bottom-bar-table {
    width: 100%;
    td {
        width: 33.3%;
    }
}

.enclosure-temperature {
    text-align: center;
}

.current-state {
    text-align: right;
}

.progress-ring {
    padding: 4.5vw 5vw 0 4.5vw;
    width: 22vw;
    height: 22vw;
    float: left;
}

.progress-percentage {
    margin-top: -16.2vw;
    margin-left: 4.3vw;
    font-size: 8.5vw;
    text-align: center;
    width: 14vw;
}

.no-job {
    width: 100%;
    font-size: 2vw;
    height: 14vw;
    padding-top: 6vw;
    text-align: center;
}

.job-filename {
    font-size: 6vw;
    padding-top: 4.5vw;
    display: inline-block;
}

.job-filament {
    font-size: 3vw;
    margin-top: -4vw;
}

.job-time {
    display: inline-block;
    padding-top: 2vw;
}

.job-time-left {
    font-size: 6vw;
    font-weight: 600;
}

.printer-state-table {
    width: 100%;
    padding-top: 5vw;
}

.printer-value {
    text-align: right;
}

.printer-value img {
    width: 10vw;
    float: left;
    padding-top: 1vw;
    padding-right: 2vw;
}

.unit {
    font-size: 60%;
}

.printer-actual-value {
    font-size: 6vw;
    font-weight: 600;
    display: block;
}

.printer-set-value {
    display: block;
    text-align: right;
}

.printer-value-1 {
    width: 27vw;
    padding-left: 2vw;
    padding-right: 8.5vw;
}

.printer-value-2 {
    width: 25vw;
    padding-right: 7.5vw;
    & img {
        width: 9.2vw;
        height: 9.2vw;
    }
}

.printer-value-3  {
    padding-right: 3vw;
    & img {
        width: 11.5vw;
        height: 11.5vw;
    }
}