.container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

/*** JOB STATUS ***/

.no-job {
    width: 100%;
    font-size: 6vw;
    height: 23vh;
    margin-top: 19vh;
    text-align: center;
}

.progress-ring {
    padding: 4.5vw 5vw 0 4.5vw;
    width: 22vw;
    float: left;
}

.progress-percentage {
    margin-top: -16vw;
    margin-left: 4.3vw;
    font-size: 8.5vw;
    text-align: center;
    width: 14vw;
}

.job-filename {
    font-size: 6vw;
    padding-top: 4.5vw;
    display: inline-block;
    width: 65vw;
}

.job-filament {
    font-size: 3vw;
    margin-top: -0.8vw;
    display: block;
}

.job-time {
    display: inline-block;
    margin-top: -1vw;
}

.job-time-left {
    font-size: 6vw;
    font-weight: 600;
}
