<div *ngIf="config" class="container">
  <div class="job-info" *ngIf="job != null">
    <div class="progress-ring">
      <round-progress [current]="job.progress" [max]="100" [stroke]="25" [rounded]="true" [responsive]="true" [color]="'#44bd32'"></round-progress>
      <div class="progress-percentage">{{ job.progress }}<span style="font-size: 40%">%</span></div>
    </div>
    <span class="job-filename">{{ job.filename }}</span> <br />
    <span class="job-filament">{{ job.filamentAmount }}g Filament</span> <br />
    <span class="job-time"><span class="job-time-left">{{ job.timeLeft.value }}</span>{{ job.timeLeft.unit }} left of {{ job.timeTotal.value }}{{ job.timeTotal.unit }}</span>
  </div>
  <div class="no-job" *ngIf="job == null">
    No Job Running ...
  </div>
  <div class="printer-state">
    <table class="printer-state-table">
      <tr>
        <td class="printer-value printer-value-1">
          <div class="container-printer-value">
            <img src="assets/nozzle.svg">
            <span class="printer-actual-value">190<span class="unit">°C</span></span>
            <span class="printer-set-value">/190<span class="unit">°C</span></span>
          </div>
        </td>
        <td class="printer-value printer-value-2">
          <div class="container-printer-value">
            <img src="assets/hot_bed.svg">
            <span class="printer-actual-value">56<span class="unit">°C</span></span>
            <span class="printer-set-value">/55<span class="unit">°C</span></span>
          </div>
        </td>
        <td class="printer-value printer-value-3">
          <div class="container-printer-value">
            <img src="assets/fan.svg">
            <span class="printer-actual-value">80<span class="unit">%</span></span>
            <span class="printer-set-value">/80<span class="unit">%</span></span>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="bottom-bar">
    <table class="bottom-bar-table">
      <tr>
        <td class="printer-name"> {{ config.printer.name }} </td>
        <td class="enclosure-temperature"> {{ enclosureTemperature }}°C</td>
        <td class="current-state"> {{ currentState.status }}({{ currentState.duration.value }}{{ currentState.duration.unit }}) </td>
      </tr>
    </table>
  </div>
</div>