.standby {
  height: 100%;

  &__main-window {
    width: 100vw;
    margin-top: 15vh;
    display: inline-block;
  }

  &__custom-actions {
    display: inline-block;
    position: absolute;
    top: 20vh;
  }

  &__icon {
    height: 45vh;
    display: block;
    margin: auto;
    margin-bottom: 11vh;
  }

  &__text {
    &-big {
      display: block;
      text-align: center;
      margin-bottom: 5vh;
      font-size: 4vw;
      animation: fadeIn ease 0.6s;
    }

    &-small {
      display: block;
      text-align: center;
      margin-bottom: 5vh;
      font-size: 2vw;
      animation: fadeIn ease 0.6s;
    }
  }

  &__error {
    position: fixed;
    top: 20vh;
    left: 20vw;
    right: 20vw;
    text-align: center;
    background-color: black;
    opacity: 0.92;
    border-radius: 2vw;
    padding: 5vh 3vw;
    font-size: 3vw;
    z-index: 100;

    &-close {
      font-size: 2vw;
      opacity: 0.8;
      display: block;
      margin-top: 4vh;
    }
  }
}
