.height-indication {
  width: 100%;
  display: block;
  margin-top: 1vh;
  text-align: center;
  font-size: 4vw;

  &__current-height {
    font-size: 6vw;
    font-weight: 500;
  }

  &__z {
    border: 3px solid white;
    padding: 0 0.2rem;
    font-size: 0.5rem;
    font-weight: bold;
    border-radius: 0.1rem;
    vertical-align: 0.05rem;
    display: inline-block;
    margin-right: 1.5vw;
  }
}
