.reset {
  &-container {
    position: absolute;
    z-index: 20;
    top: 10vh;
    left: 20vw;
    height: 56vh;
    width: 60vw;
    padding-top: 25vh;
    background-color: #353b48;
    border-radius: 2vw;
    text-align: center;
  }

  &-button {
    padding: 1.4vh 2vw;
    border-radius: 1vw;
    box-shadow: 0 10px 19px -8px rgba(0, 0, 0, 0.75);
    font-size: 0.7rem;
    outline: 0;
    border: 0;
    margin: 7vh 2vw;

    &__no {
      background-color: #718093;
      opacity: 0.8;
    }

    &__yes {
      background-color: #4bae50;
    }

    &__wrapper {
      display: block;
      margin: auto;
    }
  }
}
