<span class="setup__text">
  Veuillez m'authentifier maintenant. Vous pouvez soit cliquer sur le bouton ci-dessous et confirmer la demande dans votre
  interface web OctoPrint ou entrer une clé d'API manuellement.
</span>
<div class="octoprint-authentication__login-button">
  <span class="setup__button" (click)="loginWithOctoprintUI()">envoyer la requête</span>
</div>
<form class="setup__form">
  <label for="accessToken" class="setup__input-label">clé d'API :</label>
  <input
    type="text"
    id="accessToken"
    class="setup__input"
    [ngModel]="this.accessToken"
    (ngModelChange)="accessTokenChange.emit($event)"
    name="accessToken"
    style="width: 67vw"
    required
  />
</form>
