<span class="setup__text" i18n="@@prompt-auth">
  Please authenticate me now. You can either click the button below and confirm the request in your OctoPrint
  webinterface or enter an API Key manually.
</span>
<div class="octoprint-authentication__login-button">
  <span class="setup__button" (click)="loginWithOctoprintUI()" i18n="@@send-request">send request</span>
</div>
<form class="setup__form">
  <label for="accessToken" class="setup__input-label" i18n="@@api-key">API Key:</label>
  <input
    type="text"
    id="accessToken"
    class="setup__input"
    [ngModel]="this.accessToken"
    (ngModelChange)="accessTokenChange.emit($event)"
    name="accessToken"
    style="width: 67vw"
    required
  />
</form>
