.octoprint-authentication {
  &__login-button {
    text-align: center;
    padding: 8vh 0 0;
  }

  &_or {
    display: block;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 3vh;
    color: #848487;
    margin-bottom: -2vh;
  }
}
