<ng-container *ngIf="!usingM600(); else M600Change">
  <span class="filament-heading">charger le nouveau filament</span>
  <span class="change-filament__info">amorcez seulement le filament, je vais tirer le reste.</span>
</ng-container>

<ng-container *ngIf="selectedSpool; else noSpoolSelected">
  <div style="margin-top: 3vh">
    <div class="heating__information-type">
      <span
        class="heating__information-type-box"
        [ngStyle]="{ 'border-color': selectedSpool.color, 'box-shadow': '0 0 3vh ' + selectedSpool.color }"
      >
        {{ selectedSpool.material }}
      </span>
    </div>
    <span class="change-filament__filament-name">{{ selectedSpool.displayName }}</span>
    <span class="change-filament__filament-weight"
      >{{ getSpoolWeightLeft(selectedSpool.weight, selectedSpool.used) }}g left</span
    >
  </div>
</ng-container>

<div class="filament__wrapper-button">
  <a class="filament__done" matRipple [matRippleUnbounded]="false" (click)="increasePage.emit()">terminé</a>
</div>

<ng-template #noSpoolSelected>
  <div style="margin-top: 15vh">
    <span class="change-filament__filament-name">Je ne bouge pas d'ici.</span>
  </div>
</ng-template>

<ng-template #M600Change>
  <span class="filament-heading">M600 transmis</span>
  <span class="change-filament__info">suivez les instructions de l'imprimante</span>
</ng-template>
