.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
  overflow: visible;

  &__child {
    width: 40vw;
    text-align: center;
    font-weight: 600;
    font-size: 3vw;
    background-color: #252932;
    margin-top: 9vh;
    padding-bottom: 5vh;
    border-radius: 5px;
    box-shadow: 0px 4px 14px -5px #000000;

    > img {
      padding-top: 8vh;
      padding-bottom: 12vh;
      display: block;
      margin: 0 auto;
    }
  }
}

.octoprint-logo {
  height: 20vh;
  padding-bottom: 13vh !important;
}

.klipper-logo {
  height: 21vh;
}
