.settings-icon {
  position: fixed;
  top: 5vh;
  right: 3vw;
  font-size: 6vw;

  &__update-notifier {
    position: absolute;
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 100%;
    background-color: #e84118;
    bottom: 0;
    right: 0;
  }
}
