<div class="update-container">
  <div *ngIf="page === 1">
    <span class="update-heading" i18n>downloading update</span>
    <div class="update-progress-bar__wrapper">
      <div
        class="update-progress-bar"
        [ngStyle]="{ width: updateProgress.percentage / 2 + 'vw' }"
        id="updateDownloadProgress"
      >
        {{ updateProgress.speed }}
        <span i18n>
          MB/s&nbsp;
        </span>
      </div>
    </div>
    <span class="update-size__total">{{ updateProgress.total }}</span><span i18n>MB</span>
    <span class="update-time__remaining">{{ updateProgress.eta }}</span><span i18n>minutes left</span>
  </div>
  <div *ngIf="page === 2">
    <span class="update-heading" i18n>installing update</span>
    <div class="update-progress-bar__wrapper">
      <div class="update-progress-bar update-progress-bar-no-percentage" id="installUpdateProgress"></div>
    </div>
    <span class="update-notice" i18n>this might take a while</span>
  </div>
  <div *ngIf="page === 3">
    <span class="update-heading" i18n>v{{ service.latestVersion }} installed</span>
    <span class="update-restart" i18n>would you like to reboot now to activate the latest version?</span>
    <div class="update-restart-button__wrapper">
      <button class="update-restart-button update-restart-button__no" (click)="closeUpdateWindow()" i18n>no</button>
      <button class="update-restart-button update-restart-button__yes" (click)="reboot()" i18n>yes</button>
    </div>
  </div>
</div>
