.update {
  &-container {
    position: absolute;
    z-index: 20;
    top: 10vh;
    left: 20vw;
    height: 81vh;
    width: 60vw;
    background-color: #353b48;
    border-radius: 2vw;
  }

  &-progress-bar {
    height: 5.5vh;
    border-radius: 2vh;
    background-color: #4bae50;
    width: 25vw;
    transition: width 0.7s ease-in-out;
    font-size: 0.5rem;
    text-align: right;
    padding-top: 1.5vh;
    overflow: visible;
    white-space: nowrap;

    &-no-percentage {
      width: 10vw;
      transition: margin-left 2s ease-in-out;
      margin-left: 0;
    }

    &__wrapper {
      width: 50vw;
      margin: 14vh auto 3vh;
      display: block;
      height: 7vh;
      background-color: transparent;
      border: 3px solid #f5f6fa;
      border-radius: 3vh;
    }
  }

  &-heading {
    display: block;
    text-align: center;
    margin-top: 12vh;
  }

  &-size__total {
    display: block;
    text-align: right;
    font-size: 0.6rem;
    margin-right: 5vw;
    margin-top: -2vh;
    opacity: 0.6;
  }

  &-time__remaining {
    display: block;
    text-align: center;
    margin-top: 10vh;
  }

  &-notice {
    display: block;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 20vh;
  }

  &-restart {
    display: block;
    text-align: center;
    font-size: 0.65rem;
    margin-top: 10vh;
    margin-bottom: 8vw;

    &-button {
      padding: 1.4vh 2vw;
      border-radius: 1vw;
      box-shadow: 0 10px 19px -8px rgba(0, 0, 0, 0.75);
      font-size: 0.7rem;
      outline: 0;
      border: 0;
      margin: 7vh 2vw;

      &__no {
        background-color: #718093;
        opacity: 0.8;
      }

      &__yes {
        background-color: #4bae50;
      }

      &__wrapper {
        display: block;
        text-align: center;
      }
    }
  }
}
