<app-top-bar [backButton]="true" (onBack)="goToMainScreen()">
  <img src="assets/control.svg" class="top-bar__center-icon" />
</app-top-bar>

<div class="control">
  <div class="control__jog">
    <div class="control__jog-arrows">
      <div class="control__jog-arrows__XY">
        <div class="control__jog-arrows__XY__wrapper">
          <div class="icon-wrapper up">
            <fa-icon
              icon="angle-up"
              class="control__icon"
              (click)="moveAxis('y', '-')"
              matRipple
              [matRippleUnbounded]="true"
              [matRippleCentered]="true"></fa-icon>
          </div>
          <div class="icon-wrapper left">
            <fa-icon
              icon="angle-left"
              class="control__icon"
              (click)="moveAxis('x', '-')"
              matRipple
              [matRippleUnbounded]="true"
              [matRippleCentered]="true"></fa-icon>
          </div>
          <div class="icon-wrapper right">
          <fa-icon
            icon="angle-right"
            class="control__icon"
            (click)="moveAxis('x', '+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          </div>
          <div class="icon-wrapper down">
            <fa-icon
              icon="angle-down"
              class="control__icon"
              (click)="moveAxis('y', '+')"
              matRipple
              [matRippleUnbounded]="true"
              [matRippleCentered]="true"></fa-icon>
          </div>
        </div>
        <span class="control__heading">X / Y</span>
      </div>

      <div class="control__jog-arrows--vertical">
        <div class="control__jog-arrows--vertical__wrapper">
          <div class="icon-wrapper up">
            <fa-icon
              icon="caret-up"
              class="control__icon"
              (click)="moveAxis('z', '+')"
              matRipple
              [matRippleUnbounded]="true"
              [matRippleCentered]="true"></fa-icon>
          </div>
          <div class="icon-wrapper down">
            <fa-icon
              icon="caret-down"
              class="control__icon"
              (click)="moveAxis('z', '-')"
              matRipple
              [matRippleUnbounded]="true"
              [matRippleCentered]="true"></fa-icon>
            </div>
        </div>
        <span class="control__heading">Z</span>
      </div>

      @if (showExtruder) {
        <div class="control__jog-arrows--vertical">
          <div class="control__jog-arrows--vertical__wrapper">
            <div class="icon-wrapper extruder-controls up">
              <fa-icon
                icon="circle-chevron-up"
                class="control__icon"
                (click)="extrude('-')"
                matRipple
                [matRippleUnbounded]="true"
                [matRippleCentered]="true"></fa-icon>
            </div>
            <div class="icon-wrapper extruder-controls down">
              <fa-icon
                icon="circle-chevron-down"
                class="control__icon"
                (click)="extrude('+')"
                matRipple
                [matRippleUnbounded]="true"
                [matRippleCentered]="true"></fa-icon>
            </div>
          </div>
          <span class="control__heading">E</span>
        </div>
      }
    </div>

    <div class="control__distance-wrapper">
      <table class="control__distance">
        <tr>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 1 }"
            (click)="setDistance(1)">
            1
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 5 }"
            (click)="setDistance(5)">
            5
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 10 }"
            (click)="setDistance(10)">
            10
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 50 }"
            (click)="setDistance(50)">
            50
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 100 }"
            (click)="setDistance(100)">
            100
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="control__tools">
    @if (!printerProfile?.extruder.sharedNozzle) {
      <ngContainer>
        @for (tool of printerStatus.tools; track extruderTrackBy(i, tool); let i = $index) {
          <div
            class="control__tools__item"
            [ngClass]="{ 'control__tools__field-active': selectedTool === i }"
            (click)="selectedTool === i ? quickControlModalService.showQuickControlHotend(selectedTool) : setTool(i)"
            matRipple
            [matRippleUnbounded]="false">
            <app-hotend-icon class="control__tools__item-icon" [tool]="printerProfile?.extruder.count > 1 ? i : -1" />
            <div
              class="control__tools__item-value"
              [ngClass]="{
                'control__tools__item-no-value-set': tool.set === 0,
              }">
              <span class="control__tools__item-value-actual">
                {{ tool.current }}<span class="control__tools__item-value-unit">°C</span>
              </span>
              @if (tool.set) {
                <span class="control__tools__item-value-set">
                  / {{ tool.set }}<span class="control__tools__item-value-unit">°C</span>
                </span>
              }
            </div>
          </div>
        }
        <div class="control__tools__bottom">
          <div
            class="control__tools__item"
            (click)="quickControlModalService.showQuickControlHeatbed()"
            matRipple
            [matRippleUnbounded]="false">
            <!-- XXX: Add functionality (split quick control out into its own component) -->
            <img class="control__tools__item-icon" src="assets/heat-bed.svg" />
            <div
              class="control__tools__item-value"
              [ngClass]="{ 'control__tools__item-no-value-set': printerStatus.bed.set === 0 }">
              <span class="control__tools__item-value-actual">
                {{ printerStatus.bed.current }}<span class="control__tools__item-value-unit">°C</span>
              </span>
              @if (printerStatus.bed.set) {
                <span class="control__tools__item-value-set">
                  / {{ printerStatus.bed.set }}<span class="control__tools__item-value-unit">°C</span>
                </span>
              }
            </div>
          </div>
        </div>
      </ngContainer>
    }
    @if (printerProfile?.extruder.sharedNozzle) {
      <ngContainer>
        <div
          class="control__tools__item"
          (click)="quickControlModalService.showQuickControlHotend(0)"
          matRipple
          [matRippleUnbounded]="false">
          <app-hotend-icon class="control__tools__item-icon" [tool]="-1" />
          <div
            class="control__tools__item-value"
            [ngClass]="{
              'control__tools__item-no-value-set': printerStatus.tools[0].set === 0,
            }">
            <span class="control__tools__item-value-actual">
              {{ printerStatus.tools[0].current }}<span class="control__tools__item-value-unit">°C</span>
            </span>
            @if (printerStatus.tools[0].set) {
              <span class="control__tools__item-value-set">
                / {{ printerStatus.tools[0].set }}<span class="control__tools__item-value-unit">°C</span>
              </span>
            }
          </div>
        </div>
        <div class="control__tools__item control__tools__item-tool-changer">
          @for (tool of printerStatus.tools; track extruderTrackBy(i, tool); let i = $index) {
            <div
              class="control__tools__item-tool-changer__item"
              [ngClass]="{ 'control__tools__field-active': selectedTool === i }"
              (click)="setTool(i)"
              matRipple
              [matRippleUnbounded]="false">
              <app-hotend-icon [tool]="printerProfile.extruder.count > 1 && i" />
            </div>
          }
        </div>
        <div class="control__tools__bottom">
          <div
            class="control__tools__item"
            (click)="quickControlModalService.showQuickControlHeatbed()"
            matRipple
            [matRippleUnbounded]="false">
            <!-- XXX: Add functionality (split quick control out into its own component) -->
            <img class="control__tools__item-icon" src="assets/heat-bed.svg" />
            <div
              class="control__tools__item-value"
              [ngClass]="{ 'control__tools__item-no-value-set': printerStatus.bed.set === 0 }">
              <span class="control__tools__item-value-actual">
                {{ printerStatus.bed.current }}<span class="control__tools__item-value-unit">°C</span>
              </span>
              @if (printerStatus.bed.set) {
                <span class="control__tools__item-value-set">
                  / {{ printerStatus.bed.set }}<span class="control__tools__item-value-unit">°C</span>
                </span>
              }
            </div>
          </div>
        </div>
      </ngContainer>
    }
  </div>
</div>

<app-quick-control-modal />
