<app-top-bar [backButton]="true" (onBack)="goToMainScreen()">
  <img src="assets/control.svg" class="top-bar__center-icon" />
</app-top-bar>

<div class="control">
  <div class="control__jog">
    <div class="control__jog-arrows">
      <div class="control__jog-arrows__XY">
        <div class="control__jog-arrows__XY__wrapper">
          <fa-icon
            icon="angle-up"
            class="control__icon control__icon-1"
            (click)="moveAxis('y', '-')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="angle-left"
            class="control__icon control__icon-2"
            (click)="moveAxis('x', '-')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="angle-right"
            class="control__icon control__icon-3"
            (click)="moveAxis('x', '+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="angle-down"
            class="control__icon control__icon-4"
            (click)="moveAxis('y', '+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
        </div>
        <span class="control__heading">X / Y</span>
      </div>

      <div class="control__jog-arrows--vertical">
        <div class="control__jog-arrows--vertical__wrapper">
          <fa-icon
            icon="caret-up"
            class="control__icon control__icon-5"
            (click)="moveAxis('z', '+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="caret-down"
            class="control__icon control__icon-6"
            (click)="moveAxis('z', '-')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
        </div>
        <span class="control__heading">Z</span>
      </div>

      <div class="control__jog-arrows--vertical" *ngIf="showExtruder">
        <div class="control__jog-arrows--vertical__wrapper">
          <fa-icon
            icon="circle-chevron-up"
            class="control__icon control__icon-7"
            (click)="extrude('-')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="circle-chevron-down"
            class="control__icon control__icon-8"
            (click)="extrude('+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
        </div>
        <span class="control__heading">E</span>
      </div>
    </div>

    <div class="control__distance-wrapper">
      <table class="control__distance">
        <tr>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 1 }"
            (click)="setDistance(1)">
            1
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 5 }"
            (click)="setDistance(5)">
            5
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 10 }"
            (click)="setDistance(10)">
            10
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 50 }"
            (click)="setDistance(50)">
            50
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 100 }"
            (click)="setDistance(100)">
            100
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="control__tools">
    <div
      class="control__tools__item"
      *ngFor="
        let tool of printerProfile.extruder.sharedNozzle ? [printerStatus.tools[0]] : printerStatus.tools;
        index as i
      "
      [ngClass]="{ 'control__tools__field-active': selectedTool === i }"
      (click)="selectedTool === i ? showQuickControlHotend(selectedTool) : setTool(i)"
      matRipple
      [matRippleUnbounded]="false">
      <app-hotend-icon
        class="control__tools__icon"
        [tool]="printerProfile.extruder.count > 1 && !printerProfile.extruder.sharedNozzle ? i : -1" />
      <div
        class="control__tools__value"
        [ngClass]="{
          'control__tools__no-set-value': tool.set === 0,
        }">
        <span class="control__tools__actual-value">
          {{ tool.current }}<span class="control__tools__unit">°C</span>
        </span>
        <span class="control__tools__set-value" *ngIf="tool.set">
          / {{ tool.set }}<span class="control__tools__unit">°C</span>
        </span>
      </div>
    </div>

    <div
      class="control__tools__item control__tools__item-bed-temp"
      (click)="showQuickControlHeatbed()"
      matRipple
      [matRippleUnbounded]="false">
      <!-- XXX: Add functionality (split quick control out into its own component) -->
      <img class="control__tools__icon" src="assets/heat-bed.svg" />
      <div class="control__tools__value" [ngClass]="{ 'control__tools__no-set-value': printerStatus.bed.set === 0 }">
        <span class="control__tools__actual-value">
          {{ printerStatus.bed.current }}<span class="control__tools__unit">°C</span>
        </span>
        <span class="control__tools__set-value" *ngIf="printerStatus.bed.set">
          / {{ printerStatus.bed.set }}<span class="control__tools__unit">°C</span>
        </span>
      </div>
    </div>
  </div>
</div>

<app-quick-control
  id="quickControl"
  *ngIf="view !== QuickControlView.NONE"
  [icon]="
    'assets/' +
    (view === QuickControlView.HOTEND ? 'nozzle.svg' : view === QuickControlView.HEATBED ? 'heat-bed.svg' : 'fan.svg')
  "
  [unit]="view === QuickControlView.FAN ? '%' : '°C'"
  [defaultValue]="
    view === QuickControlView.HOTEND
      ? this.configService.getDefaultHotendTemperature()
      : view === QuickControlView.HEATBED
        ? this.configService.getDefaultHeatbedTemperature()
        : this.configService.getDefaultFanSpeed()
  "
  (onBack)="hideQuickControl()"
  (onSet)="quickControlSetValue($event)"></app-quick-control>
