<app-top-bar [backButton]="true" (onBack)="goToMainScreen()">
  <img src="assets/control.svg" class="top-bar__center-icon" />
</app-top-bar>

<div class="control">
  <div class="control__jog">
    <div class="control__jog-arrows">
      <div class="control__jog-arrows__XY">
        <div class="control__jog-arrows__XY__wrapper">
          <fa-icon
            icon="angle-up"
            class="control__icon control__icon-1"
            (click)="moveAxis('y', '-')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="angle-left"
            class="control__icon control__icon-2"
            (click)="moveAxis('x', '-')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="angle-right"
            class="control__icon control__icon-3"
            (click)="moveAxis('x', '+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="angle-down"
            class="control__icon control__icon-4"
            (click)="moveAxis('y', '+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
        </div>
        <span class="control__heading">X / Y</span>
      </div>

      <div class="control__jog-arrows--vertical">
        <div class="control__jog-arrows--vertical__wrapper">
          <fa-icon
            icon="caret-up"
            class="control__icon control__icon-5"
            (click)="moveAxis('z', '+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="caret-down"
            class="control__icon control__icon-6"
            (click)="moveAxis('z', '-')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
        </div>
        <span class="control__heading">Z</span>
      </div>

      <div class="control__jog-arrows--vertical" *ngIf="showExtruder">
        <div class="control__jog-arrows--vertical__wrapper">
          <fa-icon
            icon="circle-chevron-up"
            class="control__icon control__icon-7"
            (click)="extrude('-')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
          <fa-icon
            icon="circle-chevron-down"
            class="control__icon control__icon-8"
            (click)="extrude('+')"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"></fa-icon>
        </div>
        <span class="control__heading">E</span>
      </div>
    </div>

    <div class="control__tool-wrapper">
      <table class="control__tool">
        <tr>
          <td
            class="control__tool-field"
            *ngFor="let tool of printerStatus.tools; index as i"
            [ngClass]="{ 'control__tool-field-active': selectedTool === i }"
            (click)="selectedTool === i ? showQuickControl() : setTool(i)">
            T{{ i }}
            <span
              >{{ tool.current }}ºC <ng-container *ngIf="tool.set"> / {{ tool.set }}ºC</ng-container></span
            >
          </td>
        </tr>
      </table>
    </div>

    <div class="control__distance-wrapper">
      <table class="control__distance">
        <tr>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 1 }"
            (click)="setDistance(1)">
            1
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 5 }"
            (click)="setDistance(5)">
            5
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 10 }"
            (click)="setDistance(10)">
            10
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 50 }"
            (click)="setDistance(50)">
            50
          </td>
          <td
            class="control__distance-field"
            [ngClass]="{ 'control__distance-field-active': jogDistance === 100 }"
            (click)="setDistance(100)">
            100
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="control__tools">
    <p>Temperature</p>
    <!-- TODO: Place tool switching and bed temperature control here -->
  </div>
</div>

<div class="quick-control" *ngIf="quickControlShown" id="quickControl">
  <app-top-bar [backButton]="true" (onBack)="hideQuickControl()">
    <img src="" class="top-bar__center-icon" />
  </app-top-bar>

  <ngTemplate #quickController>
    <div class="quick-control__controller" (click)="stopPropagation($event)">
      <div class="quick-control__controller-row">
        <div
          class="quick-control__controller-increase"
          (click)="quickControlChangeValue(1)"
          matRipple
          [matRippleUnbounded]="false">
          +1
        </div>
        <div
          class="quick-control__controller-increase"
          (click)="quickControlChangeValue(10)"
          matRipple
          [matRippleUnbounded]="false">
          +10
        </div>
      </div>

      <div
        class="quick-control__controller-value"
        colspan="2"
        (click)="quickControlChangeValue(-1000)"
        matRipple
        [matRippleUnbounded]="false">
        {{ this.hotendTarget }}<span class="quick-control__controller-value-unit">°C</span>
      </div>

      <div class="quick-control__controller-row">
        <div
          class="quick-control__controller-decrease"
          (click)="quickControlChangeValue(-1)"
          matRipple
          [matRippleUnbounded]="false">
          -1
        </div>
        <div
          class="quick-control__controller-decrease"
          (click)="quickControlChangeValue(-10)"
          matRipple
          [matRippleUnbounded]="false">
          -10
        </div>
      </div>

      <div class="quick-control__controller-row">
        <div
          class="quick-control__controller-set"
          colspan="2"
          (click)="quickControlSetValue()"
          matRipple
          [matRippleUnbounded]="false">
          <span class="quick-control__controller-set-span">set</span>
        </div>
      </div>
    </div>
  </ngTemplate>
</div>
