.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;

  &__jog {
    margin-top: 4vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: visible;

    &-arrows {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow: visible;
      margin-left: 5vw;
      margin-right: -3vw;

      .icon-wrapper {
        position: absolute;
        width: 15vw;
        height: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        --buffer: -5.5vh;
      }

      &__XY {
        display: block;
        height: 60vh;
        text-align: center;
        float: left;
        overflow: visible;

        &__wrapper {
          position: relative;
          --size: 50vh;
          width: var(--size);
          height: var(--size);
          font-size: 20vh;
          overflow: visible;

          .up {
            top: var(--buffer) ;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
          .down {
            bottom: var(--buffer);
            left: 0;
            right: 0;
            margin: 0 auto;
          }
          .left {
            top: 0;
            bottom: 0;
            margin: auto 0;
            left: var(--buffer);
          }
          .right {
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: var(--buffer);
          }
        }
      }

      &--vertical {
        display: block;
        height: 60vh;
        text-align: center;
        float: left;
        overflow: visible;

        &__wrapper {
          position: relative;
          width: 15vw;
          height: 50vh;
          font-size: 20vh;
          overflow: visible;

          .up {
            top: var(--buffer) ;
            left: 0;
            right: 0;
            margin: 0 auto;
          }

          .down {
            bottom: var(--buffer);
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
      }
    }
  }

  &__heading {
    display: block;
    margin-top: 4vh;
    font-size: 3vw;
    opacity: 0.5;
    font-weight: 400;
  }

  &__icon {
    font-size: 15vw;
    opacity: 0.9;

  }

  &__distance {
    display: inline-block;
    border-collapse: separate;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4vh;
    }

    &-field {
      font-size: 2.8vw;
      width: 10vw;
      text-align: center;
      border: 0.25vw solid var(--border);
      border-right: 0.175vw solid var(--border);
      border-left: 0.175vw solid var(--border);
      padding: 1vh 0.7vw;
      opacity: 0.5;
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      transition-property: opacity, background;

      &-active {
        opacity: 0.9;
        background-color: rgb(245 246 250 / 20%);
      }
    }

    &-field:first-child {
      border-top-left-radius: 1vw;
      border-bottom-left-radius: 1vw;
      border-left: 0.25vw solid var(--border);
    }

    &-field:last-child {
      border-top-right-radius: 1vw;
      border-bottom-right-radius: 1vw;
      border-right: 0.25vw solid var(--border);
    }
  }

  &__tool {
    &-field span {
      display: block;
      font-size: 50%;
      margin-top: 1vh;
    }
  }

  &__tools {
    &__bottom {
      position: absolute;
      bottom: 4vh;
    }

    &__field-active {
      filter: drop-shadow(0 0 0.5vw rgb(255 255 255 / 50%));
    }

    &__item {
      width: 22vw;
      padding: 1.5vh 2vw;
      margin-right: 2vw;
      font-size: 3vw;
      transition: filter 0.2s;

      &-icon {
        vertical-align: middle;
        display: inline-block;
        width: 6vw;
      }

      &-value {
        display: inline-block;
        width: calc(100% - 6vw);
        text-align: right;
        vertical-align: middle;
        line-height: 6vh;

        &-unit {
          font-size: 60%;
        }

        &-actual {
          font-weight: 500;
        }

        &-set {
          font-size: 2vw;
        }
      }

      &-tool-changer {
        &__item {
          margin: 1vh 0;

          &:first-child {
            margin-top: -1vh;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.quick-control {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 85%);
  transition: opacity 0.4s ease-in-out;
  z-index: 10;
  opacity: 0;

  &__controller {
    width: 35vw;
    margin: 0 auto;
    border: solid 0.6vw;
    border-radius: 3vw;
    margin-top: 1.5vh;

    &-row {
      display: flex;
    }

    &-value {
      padding: 3vh 6vw;
      font-size: 8vw;
      font-weight: 500;
      text-align: center;

      &-unit {
        text-align: center;
        font-size: 4vw;
        font-weight: 400;
      }
    }

    &-increase {
      padding: 3vh 6vw;
      font-weight: 500;
      flex: 1;
    }

    &-decrease {
      padding: 3vh 6vw;
      font-weight: 500;
      flex: 1;
    }

    &-set {
      height: 10vw;
      border-top: solid 0.6vw;
      flex: 1;
      align-items: center;
      display: flex;

      &-span {
        text-align: center;
        flex: 1;
      }
    }
  }
}


.extruder-controls {
  fa-icon {
    font-size: 8vw;
  }
}
