.print-control {
    &__container {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .9);
        z-index: 50;
        opacity: 1;
        transition: opacity .7s ease-in-out;
    }

    &__hide {
        opacity: 0;
    }

    &__action {
        width: 22vw;
        display: inline-block;
        text-align: center;
        font-weight: 500;
        font-size: 5vw;
        padding: 8vh 4vw;
        z-index: 51;

        &:first-of-type {
            margin-left: 5vw;
        }

        &:last-of-type {
            margin-right: 5vw;
        }
    }

    &__confirm {
        font-weight: 500;
        display: block;
        text-align: center;
        font-size: 6vw;
        margin-top: 3vh;
    }


    &__center-icon {
        width: 22vw;
        display: block;
        text-align: center;
        margin-top: 8vh;
        margin-bottom: 7vh;
        margin-left: calc(50% - 11vw)
    }

    &__cancel {
        &__action {
            display: inline-block;
            padding: 6vh 5vw;
            margin: 5vh 8vw;
            font-weight: 500;
        }
    }

    &__pause {
        &__icon {
            margin-top: -10vh;
        }

        &__resume {
            display: block;
            text-align: center;
            margin-top: 3vh;
            padding: 5vh 4vw;

            &-icon {
                width: 6vw;
                vertical-align: -3vh;
            }
        }
    }
}
