.quick-control-modal {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 85%);
  transition: opacity 0.4s ease-in-out;
  z-index: 10;

  --qc-height: 72vh;

  .control-wrapper {
    margin-top: 3vh;
  }
}
