<table class="top-bar">
    <tr>
        <td class="top-bar__back" routerLink="/main-screen">
            <img src="assets/back.svg" class="top-bar__back-icon" />back
        </td>
        <td class="top-bar__center">
            <img src="assets/folder.svg" class="top-bar__center-icon">
        </td>
        <td class="top-bar__next" (click)="showHelp = true">
            refresh<img src="assets/refresh.svg" class="top-bar__next-icon">
        </td>
    </tr>
</table>
<div class="files">
    <div class="files__object">
        <img src="assets/folder.svg" class="files__icon" />
        <div class="files__info">
            <span class="files__info-value">2.2<span class="files__info-unit">MB</span></span>
            <span class="files__info-value">222<span class="files__info-unit">FILES</span></span>
        </div>
        <span class="files__name">
            upgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgrades
        </span>
    </div>
    <div class="files__object">
        <img src="assets/folder.svg" class="files__icon" />
        <div class="files__info">
            <span class="files__info-value">2.2<span class="files__info-unit">MB</span></span>
            <span class="files__info-value">222<span class="files__info-unit">FILES</span></span>
        </div>
        <span class="files__name">
            upgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgrades
        </span>
    </div>
    <div class="files__object">
        <img src="assets/folder.svg" class="files__icon" />
        <div class="files__info">
            <span class="files__info-value">2.2<span class="files__info-unit">MB</span></span>
            <span class="files__info-value">222<span class="files__info-unit">FILES</span></span>
        </div>
        <span class="files__name">
            upgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgrades
        </span>
    </div>
    <div class="files__object">
        <img src="assets/folder.svg" class="files__icon" />
        <div class="files__info">
            <span class="files__info-value">2.2<span class="files__info-unit">MB</span></span>
            <span class="files__info-value">222<span class="files__info-unit">FILES</span></span>
        </div>
        <span class="files__name">
            upgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgrades
        </span>
    </div>
    <div class="files__object">
        <img src="assets/folder.svg" class="files__icon" />
        <div class="files__info">
            <span class="files__info-value">2.2<span class="files__info-unit">MB</span></span>
            <span class="files__info-value">222<span class="files__info-unit">FILES</span></span>
        </div>
        <span class="files__name">
            upgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgrades
        </span>
    </div>
    <div class="files__object">
        <img src="assets/folder.svg" class="files__icon" />
        <div class="files__info">
            <span class="files__info-value">2.2<span class="files__info-unit">MB</span></span>
            <span class="files__info-value">222<span class="files__info-unit">FILES</span></span>
        </div>
        <span class="files__name">
            upgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgradesupgrades
        </span>
    </div>
    <div class="files__object">
        <img src="assets/object.svg" class="files__icon" />
        <div class="files__info">
            <span class="files__info-value">4.2<span class="files__info-unit">MB</span></span>
            <span class="files__info-value">8<span class="files__info-unit">G</span></span>
            <span class="files__info-value">1:42<span class="files__info-unit">H</span></span>
        </div>
        <span class="files__name">benchy</span>
    </div>
    <div class="files__object">
        <img src="assets/object.svg" class="files__icon" />
        <div class="files__info">
            <span class="files__info-value">4.2<span class="files__info-unit">MB</span></span>
            <span class="files__info-value">8<span class="files__info-unit">G</span></span>
            <span class="files__info-value">1:42<span class="files__info-unit">H</span></span>
        </div>
        <span class="files__name">benchybenchybenchybenchybenchybenchybenchybenchybenchybenchybenchybenchy</span>
    </div>
</div>
