.layer-indication {
    width: 100%;
    display: block;
    margin-top: 3vh;
    text-align: center;
    font-size: 4vw;
}

.layer-indication__current-layer {
    font-size: 6vw;
    font-weight: 600;
}
