<span class="filament-heading"
  >{{ action === 'load' ? loadingMessage : unloadingMessage }}
  <ng-container i18n="@@move-filament">filament</ng-container></span
>
<div class="move-filament__progress-bar-wrapper">
  <div
    class="move-filament__progress-bar"
    id="filamentMoveBar"
    [ngStyle]="{ width: getInitialProgressBarWidth() }"
  ></div>
</div>
<span class="move-filament__speed">{{ feedSpeed }}<ng-container i18n="@@move-filament-speed">mm/s</ng-container> </span>
<div class="filament__wrapper-button">
  <a
    class="move-filament__cancel"
    matRipple
    [matRippleUnbounded]="false"
    (click)="stopExtruderMovement()"
    i18n="@@move-filament-stop"
    >stop</a
  >
</div>
