* {
    font-family: 'Montserrat', sans-serif;
    color: #f5f6fa;
    font-size: 4.3vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// Specific for the Raspberry Pi with SPI Display (at least in my case, there is always the 6px margin)
html,
body,
app-root {
    width: 100%;
    height: 100%;
}

body {
    display: block;
    margin-left: 0;
    margin-top: 0;
}

app-root {
    display: block;
    background-color: #353b48;
    padding: .9vh .9vw;
    overflow: hidden;
}