// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@include mat.core;

@font-face {
  font-family: Arvo;
  src: url('assets/fonts/Arvo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Cousine;
  src: url('assets/fonts/Cousine-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

*,
*::after,
*::before {
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: default;
}

:root {
  --primary: #44bd32;
  --secondary: #1ec02c;
  --text: #f5f6fa;
  --border: #dcdde1;
  --background: #353b48;
  --background-2: #5a6675;
  --background-3: #718093;
  --success: #4bae50;
  --warn: #b5b33f;
  --error: #c23616;
  --info: #2196f3;
}

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$spring-green-palette,
      ),
      typography: 'Montserrat, sans-serif',
      density: 0,
    )
  );
}

html,
body,
.app-root {
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: Montserrat, sans-serif;
  color: var(--text);
  font-size: 4.3vw;
}

body {
  display: block;
  margin-left: 0;
  margin-top: 0;
}

app-root {
  display: block;
  background-color: var(--background);
  padding: 0.9vh 0.9vw;
  overflow: hidden;
}

div {
  overflow: hidden;
}

input,
textarea,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button,
.btn {
  padding: 1.4vh 2vw;
  border-radius: 1vw;
  box-shadow: 0 10px 19px -8px rgb(0 0 0 / 75%);
  outline: 0;
  border: 0;
  margin: 3vh auto;
  background-color: var(--primary);
  font-size: inherit;
  cursor: pointer;
}

[hidden] {
  display: none;
}

.splash-screen {
  &__icon {
    height: 50vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &-small {
      height: 30vh;
      margin-top: 10vh;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  &__credits {
    display: block;
    font-size: 1.8vw;
    text-align: center;
    opacity: 0.8;
    margin-top: 6vh;
  }

  &__text {
    text-align: center;
    display: block;
    font-size: 5vw;
    margin-top: 20vh;
    opacity: 0.7;
  }

  &__hint {
    display: block;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 7vh;
    opacity: 0.5;
    line-height: 150%;
  }
}

.loading-dots::after {
  content: ' .';
  animation: dots 1s steps(7, end) infinite;
}

/* stylelint-disable selector-pseudo-class-no-unknown */
::-webkit-scrollbar {
  width: 3vw;
  box-shadow: none;
  outline: none;

  &-track {
    background: transparent;
    border-radius: 0.85vw;
    box-shadow: none;
    outline: none;

    &:vertical {
      margin: 4vh 0;
    }

    &:horizontal {
      margin: 0 4vw;
    }

    &-piece {
      &:end,
      &:start {
        background: transparent;
      }
    }
  }

  &-thumb {
    background: rgb(127 143 166 / 80%);
    border-radius: 0.85vw;
    box-shadow: none;
    outline: none;
  }
}
/* stylelint-enable */

@keyframes dots {
  0%,
  10% {
    color: rgb(255 255 255 / 20%);
    text-shadow:
      0.25em 0 0 rgb(255 255 255 / 20%),
      0.5em 0 0 rgb(255 255 255 / 20%);
  }

  20% {
    color: var(--text);
    text-shadow:
      0.25em 0 0 rgb(255 255 255 / 20%),
      0.5em 0 0 rgb(255 255 255 / 20%);
  }

  30% {
    text-shadow:
      0.25em 0 0 var(--text),
      0.5em 0 0 rgb(255 255 255 / 20%);
  }

  52%,
  60% {
    text-shadow:
      0.25em 0 0 var(--text),
      0.5em 0 0 var(--text);
  }

  70% {
    color: rgb(255 255 255 / 20%);
    text-shadow:
      0.25em 0 0 var(--text),
      0.5em 0 0 var(--text);
  }

  80% {
    text-shadow:
      0.25em 0 0 rgb(255 255 255 / 20%),
      0.5em 0 0 var(--text);
  }

  90%,
  100% {
    color: rgb(255 255 255 / 20%);
    text-shadow:
      0.25em 0 0 rgb(255 255 255 / 20%),
      0.5em 0 0 rgb(255 255 255 / 20%);
  }
}
