* {
    font-family: 'Montserrat', sans-serif;
    color: #f5f6fa;
    font-size: 4.3vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// Specific for the Raspberry Pi with SPI Display (at least in my case, there is always the 6px margin)
body {
    display: block;
    margin-left: -6px;
    margin-top: -6px;
}

app-root {
    display: block;
    background-color: #353b48;
    padding: .7vw .9vw;
    overflow: hidden;
    height: 320px;
    width: 480px;
}