// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();

// TODO: needed for ripple effect, need to check why
$OctoDash-primary: mat-palette($mat-indigo);
$OctoDash-accent: mat-palette($mat-pink, A200, A100, A400);
$OctoDash-warn: mat-palette($mat-red);
$OctoDash-theme: mat-dark-theme($OctoDash-primary, $OctoDash-accent, $OctoDash-warn);
@include angular-material-theme($OctoDash-theme);

@font-face {
  font-family: Arvo;
  src: url(assets/fonts/Arvo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Cousine;
  src: url(assets/fonts/Cousine-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url(assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url(assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

*:not(path):not(svg) {
  font-family: 'Montserrat', sans-serif;
  color: #f5f6fa;
  font-size: 4.3vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: default;
}

html,
body,
.app-root {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  display: block;
  margin-left: 0;
  margin-top: 0;
}

app-root {
  display: block;
  background-color: #353b48;
  padding: 0.9vh 0.9vw;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  height: 10vh;

  & td {
    width: 33.3%;
  }

  &__back {
    padding: 4vh 2vw 2vh;
    font-weight: 500;

    &-icon {
      width: 6vw;
      vertical-align: -5vh;
      margin-right: 1.4vw;
      display: inline-block;
    }
  }

  &__next {
    padding: 4vh 2vw 2vh;
    text-align: right;
    font-weight: 500;

    &-icon {
      width: 6vw;
      vertical-align: -5vh;
      margin-left: 1.4vw;
      margin-right: 1vw;
    }
  }

  &__center {
    text-align: center;

    &-icon {
      width: 7vw;
      margin-bottom: -3vh;
    }
  }
}

.splash-screen {
  &__icon {
    height: 50vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &-small {
      height: 30vh;
      margin-top: 10vh;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  &__credits {
    display: block;
    font-size: 1.8vw;
    text-align: center;
    opacity: 0.8;
    margin-top: 6vh;
  }

  &__text {
    text-align: center;
    display: block;
    font-size: 5vw;
    margin-top: 20vh;
    opacity: 0.7;
  }

  &__hint {
    display: block;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 7vh;
    opacity: 0.5;
    line-height: 150%;
  }
}

.loading-dots:after {
  content: ' .';
  animation: dots 1s steps(7, end) infinite;
}

::-webkit-scrollbar {
  width: 3vw;
  box-shadow: none;
  outline: none;

  &-track {
    background: transparent;
    border-radius: 0.85vw;
    box-shadow: none;
    outline: none;

    &-piece {
      &:end {
        background: transparent;
        margin-bottom: 6vh;
      }

      &:start {
        background: transparent;
        margin-top: 4vh;
      }
    }
  }

  &-thumb {
    background: rgba(127, 143, 166, 0.8);
    border-radius: 0.85vw;
    box-shadow: none;
    outline: none;
  }
}

.scroll__thumb-inactive {
  display: block;
  background-color: rgba(127, 143, 166, 0.3);
  width: 3vw;
  height: 66.6vh;
  position: fixed;
  right: 2.5vw;
  top: 26.7vh;
  border-radius: 0.89vw;
  z-index: 0;
  pointer-events: none;
}

.confirm {
  position: fixed;
  top: 22vh;
  width: 64vw;
  margin-left: calc(15vw - 5px);
  background-color: #353b48;
  border: 5px solid rgba(255, 255, 255, 0.4);
  border-radius: 2vw;
  padding: 3vh 3vw;
  z-index: 10;

  &__sub-heading {
    font-size: 2.4vw;
    padding-top: 2vh;
  }

  &__gcode {
    font-size: 2.2vw;
    padding: 2vh 1.5vw;
    font-family: 'Cousine', monospace;
  }

  &__icon {
    height: 15vh;
    margin-top: 7vh;
    margin-left: 15vw;
  }

  &__wrapper {
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.85);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

[hidden] {
  display: none;
}

@keyframes dots {
  0%,
  10% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), 0.5em 0 0 rgba(255, 255, 255, 0.2);
  }
  20% {
    color: #f5f6fa;
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), 0.5em 0 0 rgba(255, 255, 255, 0.2);
  }
  30% {
    text-shadow: 0.25em 0 0 #f5f6fa, 0.5em 0 0 rgba(255, 255, 255, 0.2);
  }
  52%,
  60% {
    text-shadow: 0.25em 0 0 #f5f6fa, 0.5em 0 0 #f5f6fa;
  }
  70% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0.25em 0 0 #f5f6fa, 0.5em 0 0 #f5f6fa;
  }
  80% {
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), 0.5em 0 0 #f5f6fa;
  }
  90%,
  100% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), 0.5em 0 0 rgba(255, 255, 255, 0.2);
  }
}
