// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();

// TODO: needed for ripple effect, need to check why
$OctoDash-primary: mat-palette($mat-indigo);
$OctoDash-accent: mat-palette($mat-pink, A200, A100, A400);
$OctoDash-warn: mat-palette($mat-red);
$OctoDash-theme: mat-dark-theme($OctoDash-primary, $OctoDash-accent, $OctoDash-warn);
@include angular-material-theme($OctoDash-theme);

@font-face {
  font-family: Arvo;
  src: url(assets/fonts/Arvo-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Cousine;
  src: url(assets/fonts/Cousine-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 300;
  src: url(assets/fonts/Manrope-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  src: url(assets/fonts/Manrope-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  src: url(assets/fonts/Manrope-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  src: url(assets/fonts/Manrope-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  src: url(assets/fonts/Manrope-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 700;
  src: url(assets/fonts/Manrope-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 800;
  src: url(assets/fonts/Manrope-ExtraBold.ttf) format('truetype');
}

*:not(path):not(svg) {
  font-family: 'Manrope', sans-serif;
  color: #f5f6fa;
  font-size: 4.3vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: default;
}

html,
body,
.app-root {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  display: block;
  margin-left: 0;
  margin-top: 0;
}

app-root {
  display: block;
  background: radial-gradient(circle, rgba(93, 98, 108, 1) 0%, rgba(42, 47, 57, 1) 100%);
  padding: 0.9vh 0.9vw;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  height: 10vh;
  display: flex;
  gap: 2vw;
  align-items: center;
  padding: 3vh 2vw;
  margin-bottom: 4vh;

  > div {
    text-align: center;
  }

  &__side {
    width: 20vw;
    margin: 2vh 0;
    background-color: #252932;
    box-shadow: 0px 4px 14px -5px #000000;
    border-radius: 0.8vw;
    line-height: 11vh;

    &-hidden {
      background: transparent;
      box-shadow: none;
    }

    &-icon {
      height: 7vh;
      vertical-align: -2vh;

      &-left {
        margin-right: 1vw;
      }

      &-right {
        margin-left: 1vw;
      }
    }
  }

  &__center {
    width: 52vw;

    &-icon {
      width: 7vw;
      margin-bottom: -3vh;
    }
  }
}

.splash-screen {
  &__icon {
    height: 50vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &-small {
      height: 30vh;
      margin-top: 10vh;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  &__credits {
    display: block;
    font-size: 1.8vw;
    text-align: center;
    opacity: 0.8;
    margin-top: 6vh;
  }

  &__text {
    text-align: center;
    display: block;
    font-size: 5vw;
    margin-top: 20vh;
    opacity: 0.7;
    font-weight: 500;
    overflow: visible;
    padding-bottom: 7vh;
  }

  &__hint {
    display: block;
    text-align: center;
    font-size: 0.5rem;
    opacity: 0.5;
    line-height: 150%;
  }
}

.loading-dots:after {
  content: ' .';
  animation: dots 1s steps(7, end) infinite;
}

::-webkit-scrollbar {
  width: 3vw;
  box-shadow: none;
  outline: none;

  &-track {
    background: transparent;
    border-radius: 0.85vw;
    box-shadow: none;
    outline: none;

    &-piece {
      &:end {
        background: transparent;
        margin-bottom: 6vh;
      }

      &:start {
        background: transparent;
        margin-top: 4vh;
      }
    }
  }

  &-thumb {
    background: rgba(127, 143, 166, 0.8);
    border-radius: 0.85vw;
    box-shadow: none;
    outline: none;
  }
}

.scroll__thumb-inactive {
  display: block;
  background-color: rgba(127, 143, 166, 0.3);
  width: 3vw;
  height: 66.6vh;
  position: fixed;
  right: 2.5vw;
  top: 26.7vh;
  border-radius: 0.89vw;
  z-index: 0;
  pointer-events: none;
}

.confirm {
  position: fixed;
  top: 22vh;
  left: 15vw;
  width: 64vw;
  background-color: #353b48;
  border-radius: 0.8vw;
  padding: 3vh 3vw;
  z-index: 10;

  h1 {
    display: block;
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
  }

  &__sub-heading {
    font-size: 2.4vw;
    line-height: 3.5vw;
    padding-top: 4vh;
    display: block;
    text-align: center;
  }

  &__gcode {
    font-size: 2.2vw;
    padding: 2vh 1.5vw;
    font-family: 'Cousine', monospace;
  }

  &__action-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2.5vw;
    justify-items: center;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 2vh;
    overflow: visible;
  }

  &__button {
    background-color: #252932;
    box-shadow: 0px 4px 14px -5px #000000;
    border-radius: 0.8vw;
    width: 10vw;
    padding: 1.5vh 2vw;
    text-align: center;

    fa-icon {
      font-size: 4vw;
    }

    &-negative fa-icon {
      color: #c23616;
    }

    &-positive fa-icon {
      color: #44bd32;
    }
  }

  &__wrapper {
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    box-shadow: 0px 4px 14px -5px #000000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

[hidden] {
  display: none;
}

@keyframes dots {
  0%,
  10% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), 0.5em 0 0 rgba(255, 255, 255, 0.2);
  }
  20% {
    color: #f5f6fa;
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), 0.5em 0 0 rgba(255, 255, 255, 0.2);
  }
  30% {
    text-shadow: 0.25em 0 0 #f5f6fa, 0.5em 0 0 rgba(255, 255, 255, 0.2);
  }
  52%,
  60% {
    text-shadow: 0.25em 0 0 #f5f6fa, 0.5em 0 0 #f5f6fa;
  }
  70% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0.25em 0 0 #f5f6fa, 0.5em 0 0 #f5f6fa;
  }
  80% {
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), 0.5em 0 0 #f5f6fa;
  }
  90%,
  100% {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2), 0.5em 0 0 rgba(255, 255, 255, 0.2);
  }
}
