<h3>OctoDash Setup</h3>

<p>Welcome to OctoDash v3! Some things are new here</p>

<div data-bind="if: configPaths().length">
	<p>An existing legacy OctoDash config was found. Would you like to migrate it?</p>
	<ul data-bind="foreach: configPaths">
	<li><span data-bind="text: $data" ></span><button data-bind="click: $parent.migrate">Migrate</button></li>
	</ul>
	<p data-bind="if: migrated">Migration Complete!</p>
</div>


<p>To configure a Raspberry Pi to open OctoDash on boot, please run the following commands:</p>
<pre>
<code>wget https://raw.githubusercontent.com/UnchartedBull/OctoDash/plugin-migration/scripts/install.sh
bash install.sh</code>
</pre>
<button data-bind="click: copyScript">Copy script</button>
<p data-bind="if: copySuccess">Script copied successfully!</p>
<p data-bind="if: copyError">Error copying script/p>