<h3>OctoDash Setup</h3>

<h4>Welcome to OctoDash v3!</h4>

<p>
  OctoDash can now be accessed at any web browser by navigating to http://&lt;your-octoprint-ip&gt;:&lt;your-port&gt;/plugin/octodash
  This wizard can guide you through setting up OctoDash to launch on boot on your Raspberry Pi (or other Debian-based system)
</p>
<h4>Setting up OctoDash</h4>
<p>
  If you are running OctoPrint on a Raspberry Pi (or other Debian-based system) with a display connected, you can use the OctoDash-provided script to configure
  it to open OctoDash on boot. To copy the script into your home directory, click the button below.
</p>
  <button data-bind="click: copyScript, enable: !copyInProgress()" class="btn">Copy script</button>
<p>
  Once copied, connect to your system via either SSH or a keyboard and run the script:
  <code>sudo bash ~/manage-octodash.sh</code>
</p>

<p>
  This script will do the following:
  <ul>
    <li>Install the Chromium browser and required dependencies (including graphical libraries)</li>
    <li>Configure the system to launch OctoDash on boot</li>
  </ul>
  If legacy OctoDash is detected, the script will modify the existing startup scripts to launch OctoDash v3 instead
</p>
<div data-bind="if: configPaths().length">
  <h4>Config Setup</h4>
  <p>
    An existing legacy OctoDash config was found on your system at the following location.
    Would you like to migrate it?
  </p>
  <ul data-bind="foreach: configPaths">
    <li><code data-bind="text: $data" ></code><button class="btn" data-bind="click: $parent.migrate, enable: !$parent.migrateInProgress()">Migrate</button></li>
  </ul>
</div>
<!-- ko if:  configPaths().length === 0-->
<h4>Plugins</h4>
<div class="plugins-chosen" data-bind="if: enabledSingles().length">
  <h5>Plugins Found</h5>
  <p>The following plugins were detected and will be used in OctoDash. You can disable this behavior in the plugin settings</p>
  <ul data-bind="foreach: enabledSingles">
    <li><code data-bind="text: $data"></code></li>
  </ul>
</div>
<div class="filament-chosen" data-bind="if: enabledFilament().length === 1">
 <h5>Filament Chosen</h5>
 <p>The plugin <code data-bind="text: enabledFilament()[0]"></code> was found enabled and support enabled in OctoDash. You can disable it in the plugin settings.</p>
</div>
<div data-bind="if: availableFilament().length > 1" class="filament-choices">
  <h5>Multiple filament plugins available</h5>
  <p>The following filament plugins were detected installed. You can enable one in the plugin settings.</p>
  <ul data-bind="foreach: availableFilament">
    <li><code data-bind="text: $data"></code></li>
  </ul>
</div>
<div class="power-chosen" data-bind="if: enabledPower().length === 1">
 <h5>Power Chosen</h5>
 <p>The plugin <code data-bind="text: enabledPower()[0]"></code> was detected and enabled in OctoDash for controling the printer power state. You can disable it in the plugin settings.</p>
</div>
<div data-bind="if: availablePower().length" class="power-choices">
  <h5>Multiple power plugins available</h5>
  <p>The following power management plugins were detected installed. You can enable one for use with OctoDash in the plugin settings.</p>
  <ul data-bind="foreach: availablePower">
    <li><code data-bind="text: $data"></code></li>
  </ul>
</div>
<!-- /ko -->