<div class="printer-status" *ngIf="printerStatus">
  <div class="printer-status__value printer-status__value-nozzle" (click)="showQuickControlHotend()" matRipple>
    <img src="assets/nozzle.png" class="icon__nozzle" />
    <div>
      <span class="printer-status__actual-value">
        {{ printerStatus.tool0.current }}<span class="printer-status__unit"> °C</span>
      </span>
      <span class="printer-status__set-value" *ngIf="printerStatus.tool0.set">
        / {{ printerStatus.tool0.set }}<span class="printer-status__unit"> °C</span>
      </span>
    </div>
  </div>

  <div class="printer-status__value printer-status__value-bed" (click)="showQuickControlHeatbed()" matRipple>
    <img src="assets/heat-bed.png" class="icon__heat-bed" />
    <div>
      <span class="printer-status__actual-value">
        {{ printerStatus.bed.current }}<span class="printer-status__unit"> °C</span>
      </span>
      <span class="printer-status__set-value" *ngIf="printerStatus.bed.set">
        / {{ printerStatus.bed.set }}<span class="printer-status__unit"> °C</span>
      </span>
    </div>
  </div>

  <div class="printer-status__value printer-status__value-fan" (click)="showQuickControlFan()" matRipple>
    <img src="assets/fan.png" class="icon__fan" />
    <div>
      <span class="printer-status__actual-value">
        {{ printerStatus.fanSpeed >= 0 ? printerStatus.fanSpeed : '-- ' }}<span class="printer-status__unit"> %</span>
      </span>
    </div>
  </div>
</div>

<div class="quick-control" *ngIf="view !== QuickControlView.NONE" id="quickControl" (click)="hideQuickControl()">
  <div class="top-bar">
    <div class="top-bar__side top-bar__side-left" matRipple (click)="hideQuickControl()">
      <fa-icon [icon]="['fas', 'circle-chevron-left']"></fa-icon>
      <span i18n="@@setup-back">back</span>
    </div>

    <div class="top-bar__center">
      <img
        [src]="
          'assets/' +
          (view === QuickControlView.HOTEND
            ? 'nozzle.png'
            : view === QuickControlView.HEATBED
            ? 'heat-bed.png'
            : 'fan.png')
        "
        class="top-bar__center-icon"
        [ngClass]="{
          'top-bar__center-nozzle': view === QuickControlView.HOTEND,
          'top-bar__center-heat-bed': view === QuickControlView.HEATBED,
          'top-bar__center-fan': view === QuickControlView.FAN
        }" />
    </div>

    <div class="top-bar__side top-bar__side-hidden"></div>
  </div>

  <div class="quick-control__wrapper" (click)="stopPropagation($event)">
    <div class="quick-control__controller">
      <div class="quick-control__controller-row">
        <div
          class="quick-control__controller-increase"
          (click)="quickControlChangeValue(1)"
          matRipple
          [matRippleUnbounded]="false">
          +1
        </div>
        <div
          class="quick-control__controller-increase"
          (click)="quickControlChangeValue(10)"
          matRipple
          [matRippleUnbounded]="false">
          +10
        </div>
      </div>

      <div
        class="quick-control__controller-value"
        colspan="2"
        *ngIf="view === QuickControlView.HOTEND"
        (click)="quickControlChangeValue(-1000)"
        matRipple
        [matRippleUnbounded]="false">
        {{ this.hotendTarget }}<span class="quick-control__controller-value-unit">°C</span>
      </div>
      <div
        class="quick-control__controller-value"
        colspan="2"
        *ngIf="view === QuickControlView.HEATBED"
        (click)="quickControlChangeValue(-1000)"
        matRipple
        [matRippleUnbounded]="false">
        {{ this.heatbedTarget }}<span class="quick-control__controller-value-unit">°C</span>
      </div>
      <div
        class="quick-control__controller-value"
        colspan="2"
        *ngIf="view === QuickControlView.FAN"
        (click)="quickControlChangeValue(-1000)"
        matRipple
        [matRippleUnbounded]="false">
        {{ this.fanTarget }}
        <span class="quick-control__controller-value-unit">%</span>
      </div>

      <div class="quick-control__controller-row">
        <div
          class="quick-control__controller-decrease"
          (click)="quickControlChangeValue(-1)"
          matRipple
          [matRippleUnbounded]="false">
          -1
        </div>
        <div
          class="quick-control__controller-decrease"
          (click)="quickControlChangeValue(-10)"
          matRipple
          [matRippleUnbounded]="false">
          -10
        </div>
      </div>

      <div class="quick-control__controller-row">
        <div
          class="quick-control__controller-set"
          colspan="2"
          (click)="quickControlSetValue()"
          matRipple
          [matRippleUnbounded]="false">
          set
        </div>
      </div>
    </div>
    <ng-container *ngIf="view !== QuickControlView.FAN">
      <div class="quick-control__preset">
        <div *ngFor="let preset of presets | slice: 0:5" [ngStyle]="{ 'background-color': preset.color }">
          <span>{{ preset.name }}</span>
          <span class="quick-control__preset-temperature" *ngIf="view === QuickControlView.HOTEND">
            - {{ preset.hotend }}°C</span
          >
          <span class="quick-control__preset-temperature" *ngIf="view === QuickControlView.HEATBED">
            - {{ preset.heatbed }}°C</span
          >
        </div>
      </div>
    </ng-container>
  </div>
</div>
