.printer-status {
    width: 100%;
    margin-top: 3vh;
    height: 23vh;
    display: block;
    table-layout: fixed;
    overflow: visible;

    & tr {
        vertical-align: middle;
    }

    &__value {
        text-align: right;
        height: 23vh;
        vertical-align: middle;

        & img {
            width: 10vw;
            float: left;
            padding-top: 1.7vh;
            padding-right: 2vw;
        }

        &-1 {
            width: 29vw;
            padding-left: 1vw;
            padding-right: 8.5vw;
        }

        &-2 {
            width: 25vw;
            padding-right: 7.5vw;

            & img {
                width: 9.6vw;
            }
        }

        &-3 {
            padding-right: 3vw;
            width: 27.2vw;

            & img {
                padding-top: 1vh;
                width: 10vw;
            }
        }
    }

    &__unit {
        font-size: 60%;
    }

    &__actual-value {
        font-size: 6vw;
        font-weight: 500;
        display: inline-block;
    }

    &__set-value {
        display: block;
        text-align: right;
    }

    &__no-set-value {
        overflow: visible;

        & span {
            margin-bottom: -4vh
        }

        & img {
            margin-top: -4vh;
        }
    }
}
