.printer-status {
  width: 95vw;
  margin: auto 3vh;
  height: 23vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2vw;
  align-items: center;
  align-content: center;
  justify-items: start;

  .printer-status__item {
    width: 100%;

    .printer-status__icon {
      vertical-align: middle;
      display: inline-block;
      width: 9vw;
    }

    .printer-status__value {
      display: inline-block;
      width: calc(100% - 9vw);
      text-align: right;
      vertical-align: middle;

      .printer-status__unit {
        font-size: 60%;
      }

      .printer-status__actual-value {
        font-size: 6vw;
        font-weight: 500;
      }

      .printer-status__set-value {
        display: block;
        text-align: right;

        .printer-status__unit {
          font-size: 60%;
        }
      }

      &.printer-status__multi-value {
        .printer-status__individual-value {
          display: block;
        }

        .printer-status__actual-value {
          font-size: 4vw;
        }

        .printer-status__set-value {
          font-size: 3vw;
        }
      }
    }
  }
}

.quick-control {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  transition: opacity 0.4s ease-in-out;
  z-index: 10;
  opacity: 0;

  &__controller {
    width: 35vw;
    margin: 0 auto;
    border: solid 0.6vw;
    border-radius: 3vw;
    margin-top: 1.5vh;

    &-row {
      display: flex;
    }

    &-value {
      padding: 3vh 6vw;
      font-size: 8vw;
      font-weight: 500;
      text-align: center;

      &-unit {
        text-align: center;
        font-size: 4vw;
        font-weight: 400;
      }
    }

    &-increase {
      padding: 3vh 6vw;
      font-weight: 500;
      flex: 1;
    }

    &-decrease {
      padding: 3vh 6vw;
      font-weight: 500;
      flex: 1;
    }

    &-set {
      height: 10vw;
      border-top: solid 0.6vw;
      flex: 1;
      align-items: center;
      display: flex;

      &-span {
        text-align: center;
        flex: 1;
      }
    }
  }
}
