@import '../../mixins';

.printer-status {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  gap: 2vw;
  justify-content: center;
  overflow: visible;

  &__value {
    width: 23vw;
    height: 19vh;
    padding: 2.5vh 2vw;
    border-radius: 0.8vw;
    box-shadow: 0px 4px 14px -5px #000000;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      text-align: right;
    }

    & img {
      float: left;
      padding-right: 2vw;
    }

    &-nozzle {
      background-color: rgba(77, 18, 21, 0.4);
    }

    &-bed {
      background-color: rgba(90, 70, 17, 0.4);
    }

    &-fan {
      background-color: rgba(0, 60, 92, 0.4);
    }
  }

  &__unit {
    font-size: 60%;
  }

  &__actual-value {
    font-size: 5vw;
    font-weight: 500;
    display: inline-block;
  }

  &__set-value {
    margin-top: -2vh;
    font-size: 3.7vw;
    display: block;
    text-align: right;
  }
}

.icon {
  &__nozzle {
    width: 4.4vw;
  }

  &__heat-bed {
    width: 6.3vw;
  }

  &__fan {
    width: 5.3vw;
  }
}

.top-bar__center {
  &-nozzle {
    width: 5vw;
  }

  &-heat-bed {
    width: 7vw;
  }

  &-fan {
    width: 5.7vw;
  }
}

.quick-control {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  transition: opacity 0.4s ease-in-out;
  z-index: 10;
  opacity: 1;

  &__wrapper {
    display: flex;
    gap: 3vw;
    justify-content: center;
  }

  &__preset {
    width: 30vw;
    margin-top: 1.5vh;
    background-color: #252932;
    padding: 4vh 2vw;
    border-radius: 2vw;
    box-shadow: 0px 4px 14px -5px #000000;

    > div {
      @include list-entry;
      line-height: 3vw;

      span {
        font-size: 3vw;
      }
    }

    &-temperature {
      font-size: 2.5vw !important;
      opacity: 0.8;
    }
  }

  &__controller {
    width: 35vw;
    margin-top: 1.5vh;
    background-color: #252932;
    padding: 0 2vw;
    border-radius: 2vw;
    box-shadow: 0px 4px 14px -5px #000000;

    &-row {
      display: flex;
    }

    &-value {
      padding: 3vh 6vw;
      font-size: 8vw;
      font-weight: 500;
      text-align: center;

      &-unit {
        padding-left: 0.5vw;
        font-size: 4vw;
        opacity: 0.7;
        font-weight: 400;
      }
    }

    &-increase {
      padding: 3vh 6vw;
      font-weight: 500;
      flex: 1;
    }

    &-decrease {
      padding: 3vh 6vw;
      font-weight: 500;
      flex: 1;
    }

    &-set {
      @include highlight-button;
      margin: 5vh auto 3vh;
    }
  }
}
