<table class="printer-status" *ngIf="printerStatus">
  <tr>
    <td
      class="printer-status__value printer-status__value-1"
      [ngClass]="{ 'printer-status__no-set-value': printerStatus.tool0.set === 0 }"
      (click)="showQuickControlHotend()"
      matRipple
      [matRippleUnbounded]="false"
    >
      <img src="assets/nozzle.svg" />
      <span class="printer-status__actual-value">
        {{ printerStatus.tool0.current }}<span class="printer-status__unit">°C</span>
      </span>
      <span class="printer-status__set-value" *ngIf="printerStatus.tool0.set">
        /{{ printerStatus.tool0.set }}<span class="unit">°C</span>
      </span>
    </td>
    <td
      class="printer-status__value printer-status__value-2"
      [ngClass]="{ 'printer-status__no-set-value': printerStatus.bed.set === 0 }"
      (click)="showQuickControlHeatbed()"
      matRipple
      [matRippleUnbounded]="false"
    >
      <img src="assets/heat-bed.svg" />
      <span class="printer-status__actual-value">
        {{ printerStatus.bed.current }}<span class="printer-status__unit">°C</span>
      </span>
      <span class="printer-status__set-value" *ngIf="printerStatus.bed.set">
        /{{ printerStatus.bed.set }}<span class="unit">°C</span>
      </span>
    </td>
    <td
      class="printer-status__value printer-status__value-3 printer-status__no-set-value"
      (click)="showQuickControlFan()"
      matRipple
      [matRippleUnbounded]="false"
    >
      <img src="assets/fan.svg" />
      <span class="printer-status__actual-value">
        {{ printerStatus.fanSpeed >= 0 ? printerStatus.fanSpeed : '-- ' }}<span class="printer-status__unit">%</span>
      </span>
    </td>
  </tr>
</table>

<app-quick-control
  *ngIf="view !== QuickControlView.NONE"
  id="quickControl"
  [settings]="quickControlSettings()"
  [hide]="hideQuickControl.bind(this)"
></app-quick-control>
