<span class="setup__text" i18n="@@select-instance">
  First things first: Please select your OctoPrint instance from the list below or enter the IP/URL manually.
</span>
@if (!manualURL) {
  <div>
    <div class="discover-octoprint__wrapper">
      @for (node of octoprintNodes; track node) {
        <span
          class="discover-octoprint__node"
      [ngClass]="{
        'discover-octoprint__node-disabled': node.disabled,
      }"
          (click)="setOctoprintInstance(node)">
          <div class="discover-octoprint__node-name">
            {{ node.name }}
            <br />
            @if (node.disabled) {
              <span class="discover-octoprint__node-upgrade" i18n="@@octoprint-upgrade-required">
          Upgrade Required /
        </span>
            }
            <span class="discover-octoprint__node-details" i18n="@@version-url">
          Version {{ node.version }}, URL: {{ node.url }}
        </span>
          </div>
        </span>
      }
      @if (!octoprintNodes) {
        <span class="discover-octoprint__searching loading-dots" i18n="@@searching">searching</span>
      }
    </div>
    <div class="discover-octoprint__manual" (click)="enterURLManually()" i18n="@@enter-manually">enter manually</div>
  </div>
}
@if (manualURL) {
  <div>
    <form class="setup__form">
      <span class="setup__input-prefix">http://</span>
      <input
        type="text"
        id="octoprintURLName"
        class="setup__input"
        [ngModel]="urlSplit.host"
        (ngModelChange)="changeHost($event)"
        name="octoprintURLName"
        required
         />
      :
      <input
        type="text"
        id="octoprintURLPort"
        class="setup__input"
        [ngModel]="urlSplit.port"
        (ngModelChange)="changePort($event)"
        name="octoprintURLPort"
        required
        />
      <p class="setup__input-prefix" i18n="@@port-recommendation">
      Port 5000 for vanilla OctoPrint, Port 80 for OctoPi
    </p>
    </form>
    <div class="discover-octoprint__manual" (click)="searchForInstance()" i18n="@@search-again">
    search again
  </div>
  </div>
}
