.discover-octoprint {
  &__wrapper {
    height: 40vh;
    padding: 4vh 3vw;
    margin-right: 2vw;
    overflow: hidden auto;
  }

  &__searching {
    display: block;
    text-align: center;
    margin-top: 10vh;
    font-size: 0.8rem;
  }

  &__node {
    display: block;
    background-color: var(--background-3);
    border-radius: 1vw;
    margin-bottom: 2vh;
    padding: 2vh 2vw;
    background-image: url('../../../assets/connect.svg');
    background-repeat: no-repeat;
    background-position: right;

    &-disabled {
      pointer-events: none;
      opacity: 0.5;
      font-style: italic;
    }

    &-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 0.8rem;
    }

    &-details {
      font-size: 0.55rem;
      opacity: 0.7;
    }

    &-upgrade {
      font-size: 0.55rem;
      font-weight: bold;
    }
  }

  &__manual {
    text-align: center;
    font-size: 0.7rem;
    line-height: 14vh;
    margin-top: 5.5vh;
  }
}

:host {
  .setup__form {
    margin-top: 5vh;

    #octoprintURLName {
      width: 42.5vw;
    }

    #octoprintURLPort {
      width: 14vw;
    }

    .setup__input-prefix {
      margin-top: 8vh;
    }
  }
}
