@media screen and (max-width: 720px) and (max-height: 720px) {
  .main-menu__settings-icon {
    width: 7vw !important;
    float: unset !important;
    padding: 20px !important;
    margin: 0 !important;
    margin-top: 0 !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
  }

  .breadcrumbs {
    margin-top: -11vh !important;
  }

  .scroll__thumb-inactive {
    width: 3.5vw;
    height: 73vh;
    top: 24vh;
  }

  .filament__progress-bar-wrapper {
    margin-top: 4vh !important;
  }

  .files {
    margin-left: 2vw !important;
    width: 94.6vw !important;
  }

  .file__wrapper {
    width: 70vw !important;
    left: 15vw !important;
  }

  .filaments::before {
    display: none !important;
  }

  .file__name {
    width: 65.5vw !important;
  }

  .file__actions td:first-of-type span,
  .file__actions td span {
    margin-top: unset !important;
    position: unset !important;
    margin-left: unset !important;
    text-align: unset !important;
  }

  .job-info {
    height: 40vw !important;
  }

  .job-info__time {
    margin-top: unset !important;
  }

  .job-info__filament {
    float: left !important;
  }

  .job-info__progress-preview-image-container {
    margin-top: -17.5vw !important;
  }

  .print-control__pause__resume-icon {
    vertical-align: -1.5vh !important;
  }

  .print-control__center-icon {
    margin-top: 22vh !important;
  }

  .print-control__pause__icon {
    margin-top: -5vh !important;
  }

  .job-info__filename {
    height: unset !important;
    font-size: 4.5vw !important;
    padding-top: 9vh !important;
  }

  .job-info__progress {
    padding: 7.5vh 5vw 0 4.5vw !important;
  }

  .print-control__container {
    text-align: center !important;
    text-transform: capitalize;
  }

  .print-control__action {
    margin-top: 10vh !important;
    padding: 0 3vw !important;
  }

  .print-control__action:last-of-type {
    margin-right: unset !important;
  }

  .file__actions img {
    height: 15vh !important;
  }

  .file__actions {
    width: 100% !important;
    margin: 2vh auto 0 auto !important;
    text-align: center !important;
  }

  .file__details {
    text-align: center !important;
    width: 100% !important;
    margin-top: 9vh !important;
  }

  .file__details td {
    text-align: unset !important;
    padding: 0 12vw !important;
  }

  .file__actions td {
    text-align: unset !important;
  }

  .file__render {
    margin: 5vh auto 0 auto !important;
  }

  .file__directory {
    display: none !important;
  }

  .file__creation-date {
    font-size: 2.6vw !important;
    text-align: center !important;
  }

  .top-bar__next-icon,
  .top-bar__back-icon {
    margin: 0 !important;
    position: fixed !important;
    top: 0 !important;
    padding: 20px !important;
    width: 7vw !important;
  }

  .top-bar__back-icon {
    left: 0 !important;
  }

  .files::before {
    display: none !important;
  }

  .files__info {
    line-height: inherit;
  }

  .top-bar__center-icon {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    width: 8vw !important;
  }

  .top-bar {
    margin-bottom: 14vh !important;
  }

  .top-bar td {
    line-height: unset !important;
  }

  .top-bar__next-icon {
    right: 0 !important;
  }

  .control {
    margin-top: 17vh !important;
  }

  .control__XY-wrapper {
    height: 35vh !important;
  }

  .control__Z-wrapper {
    height: 35vh !important;
  }

  .control__XY,
  .control__Z {
    height: 48vh !important;
  }

  .control__icon-1,
  .control__icon-5 {
    top: -1.5vh !important;
  }

  .control__icon-2 {
    left: 1.5vw !important;
  }

  .control__icon-3 {
    right: 0.7vh !important;
  }

  .control__icon-4,
  .control__icon-6 {
    top: 21vh !important;
  }

  span.mat-ripple.mat-ripple-unbounded {
    font-size: 0 !important;
  }

  .top-bar__back,
  .top-bar__next {
    font-size: 0 !important;
  }

  .main-menu__options {
    text-transform: capitalize !important;
    margin: 19vh auto 0 auto !important;
  }

  .printer-status__no-set-value img {
    margin-top: -2vh !important;
  }

  .printer-status__no-set-value,
  .printer-status__value {
    padding: 0 20px !important;
  }

  .printer-status__value-1,
  .printer-status__value-2,
  .printer-status__value-3 {
    width: unset !important;
  }

  .printer-status {
    margin: 0 auto !important;
    width: unset !important;
    display: table !important;
  }

  .bottom-bar__printer-name {
    padding-left: 20px !important;
  }

  .bottom-bar__current-status {
    padding-right: 20px !important;
  }

  .bottom-bar {
    position: absolute !important;
    bottom: 20px !important;
    left: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .top-bar td {
    line-height: 9vh;
  }

  .settings__content::first-letter {
    text-transform: capitalize !important;
  }

  .settings__content {
    text-align: -webkit-center !important;
    padding: 2vh 2vw 2vh 5vw !important;
    width: 62vw !important;
  }

  .settings-container {
    width: 70vw !important;
    left: 15vw !important;
  }

  .settings__close {
    right: 3vw !important;
    top: 3vh !important;
    width: 5vw !important;
  }

  ::-webkit-scrollbar {
    width: 2vw !important;
  }

  .settings__list li {
    font-size: 3.5vw !important;
  }

  .settings__heading-2 {
    font-size: 3vw !important;
  }

  .settings__about-icon {
    margin: 25px auto !important;
  }
}
