name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  release:
    types: [published]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Node Setup
        uses: ./.github/actions/node-setup
      - name: Linting Application
        run: npm run lint
      - name: Checking if locale is updated
        run: |-
          npm run locale:extract
          if [ "$(git diff --name-only)" ]; then
            echo ""
            echo "ERROR! Locale file update detected!  Please run 'npm run locale:update'."
            echo ""
            exit 1
          fi

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Node Setup
        uses: ./.github/actions/node-setup
      - name: Building Application
        run: npm run build
      - name: Packaging Application
        run: npm run electron:pack
        env:
          GH_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: |
            package/*.deb
            package/*.yml

  release:
    runs-on: ubuntu-latest

    if: github.event_name == 'release'
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: build
      - name: Upload release
        env:
          GH_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: gh release upload ${{ github.ref }} *.deb *.yml
