name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: node-modules
        with:
          path: '**/node_modules'
          key: octodash-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            octodash-build-${{ env.cache-name }}-
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install latest npm
        run: sudo npm install -g npm@latest
      - name: Installing Dependencies
        run: npm ci
      - name: Linting Application
        run: npm run lint
      - name: Checking if locale is updated
        run: |-
          npm run locale:extract
          if [ "$(git diff --name-only)" ]; then
            echo ""
            echo "ERROR! Locale file update detected!  Please run 'npm run locale:update'."
            echo ""
            exit 1
          fi

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build
      - name: Testing Application
        run: npm run test:e2e

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: node-modules
        with:
          path: '**/node_modules'
          key: octodash-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            octodash-build-${{ env.cache-name }}-
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install latest npm
        run: sudo npm install -g npm@latest
      - name: Installing Dependencies
        run: npm ci
      - name: Building Application
        run: npm run build:prod
      - name: Packaging Application
        run: npm run electron:pack
        env:
          GH_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: |
            package/*.deb
            package/*.yaml
            package/*.yml
