.settings {
    &-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        z-index: 20;
    }

    &-container {
        animation: fadein .8s;
        position: absolute;
        top: 10vh;
        left: 20vw;
        height: 80vh;
        width: 60vw;
        background-color: #353b48;
        border-radius: 2vw;

        &-fadeout {
            animation: fadeout .8s;
        }
    }

    &__heading {
        padding: 3vh 0;
        display: block;
        font-weight: 500;
        font-size: 4vw;

        &-2 {
            display: block;
            font-size: 3.5vw;
            font-weight: 500;
            margin-bottom: 1.2vh;
            margin-top: 3vh;
        }

        &-back {
            font-size: 3vw;
            margin-right: 1vw;
        }
    }

    &__text {
        font-size: 2vw;
        text-align: justify;

        & li {
            font-size: 1.2vw;
            line-height: 1.7;
        }
    }

    &__input {
        background: transparent;
        margin-top: 1.5vh;
        padding: 1.5vw 3vh;
        border: 2px solid #dcdde1;
        border-radius: 1.7vw;
        width: 55vw;
        font-size: 2vw;

        &:focus {
            outline: 0;
            border: 2px solid #44bd32;
        }

        &-small {
            width: 10vw;
            text-align: right;

            &-suffix {
                font-size: 3vw;
                padding-left: 1vw;
            }
        }

        &-label {
            display: block;
            font-size: 1.8vw;
            margin-top: 2.5vh;

            &:first-of-type {
                margin-top: 1vh;
            }
        }

        &-prefix {
            font-size: 2vw;
            opacity: .7;
            padding-right: 1vw;
        }

        &-divider {
            padding: 0 1vw;
            font-size: 2.5vw;
        }
    }

    &__close {
        position: absolute;
        right: 1.5vw;
        top: 2vh;
        width: 4vw;
        z-index: 10;
    }

    &__list {

        & fa-icon {
            font-size: 3vw;
            margin-left: .5vw;
            opacity: .7;
        }

        & li {
            font-size: 3vw;
            padding: 2vh 0;
        }
    }

    &__made {
        font-size: 2.3vw;
        display: block;
        opacity: .6;
        text-align: center;
        margin-top: 4vh;

        &-heart {
            font-size: 2vw;
            vertical-align: -0.7vh;
            display: inline-block;
            color: #e84118;
        }
    }

    &__save {
        display: block;
        text-align: center;
        margin: 3vh 0 4vh;
    }

    &__scroll {
        height: 63vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding-right: 2vw;
        z-index: 1;
    }

    &__content {
        position: absolute;
        left: 0;
        width: 54vw;
        display: block;
        padding: 2vh 2vw 2vh 4vw;

        &-slideout-forward {
            animation: slideout-forward .8s ease-out;
        }

        &-slidein-forward {
            animation: slidein-forward .8s ease-out
        }

        &-slideout-backward {
            animation: slideout-backward .8s ease-out
        }

        &-slidein-backward {
            animation: slidein-backward .8s ease-out
        }

        &-inactive {
            left: 100vw;
        }
    }

    &__made-in-berlin {
        display: block;
        margin: 5vh auto 0;
        width: 20vw;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideout-forward {
    from {
        left: 0vw;
    }

    to {
        left: -60vw;
    }
}

@keyframes slidein-forward {
    from {
        left: 60vw;
    }

    to {
        left: 0vw;
    }
}

@keyframes slidein-backward {
    from {
        left: -60vw;
    }

    to {
        left: 0vw;
    }
}

@keyframes slideout-backward {
    from {
        left: 0vw;
    }

    to {
        left: 60vw;
    }
}
